<div id="footer-gray">
  <div id="content-extra">
    <div class="col-layout clearfix">
      
      <div class="foooter-user-relatedlinks">
        <h5>Related Links</h5>
        <ul>
          <li><a href="http://utsa.edu/ir">Institutional Research</a></li>
          <li><a href="http://utsa.edu/ea">External Affairs</a></li>
          <li><a href="http://utsa.edu/legalaffairs">Legal Affairs</a></li>
          <li><a href="http://utsa.edu/acrs">Audit, Compliance and Risk Services</a></li>
          <li><a href="http://utsa.edu/gov">University Governance</a></li>
          <li><a href="http://utsa.edu/hop">Handbook of Operating Procedures</a></li>
          <li><a href="http://utsa.edu/hr">Human Resources</a></li>
        </ul>
      </div>
      
      <div class="foooter-user-extra">
          <h5>UTSA's Mission</h5>
          <p>The University of Texas at San Antonio is dedicated to the advancement of knowledge through research and discovery, 
            teaching and learning, community engagement and public service. As an institution of access and excellence, UTSA embraces 
            multicultural traditions and serves as a center for intellectual and creative resources as well as a catalyst for socioeconomic development and the commercialization of intellectual property &mdash; for Texas, the nation and the world.</p>
          <h5>UTSA's Vision</h5>
          <p>To be a premier public research university, providing access to educational excellence and preparing citizen leaders for the global environment.</p>
          <h5>UTSA's Core Values</h5>
          <p>We encourage an environment of dialogue and discovery, where integrity, excellence, inclusiveness, respect, collaboration and innovation are fostered.</p>
      </div>
      
    </div>
 
  </div><!--content-extra-->
</div> <!--footer-orange-->
