<div id="footer-gray">
  <div id="content-extra">
    <div class="col-layout clearfix">
      
      <div class="foooter-user-relatedlinks">
        
      </div>
      
      <div class="foooter-user-extra">
          <h3>Office of the Associate Provost for Veteran and Military Affairs</h3>
          <p><strong>Office location:</strong> MS 3.02.28<br />
            <strong>Email:</strong> <a href="mailto:veterans@utsa.edu">veterans@utsa.edu</a><br />
          <strong>Phone:</strong> 210.458.7544<strong></strong></p>
      </div>
      
    </div>
 
  </div><!--content-extra-->
</div> <!--footer-orange-->
