<div class="nav-gray updates-listing" id="updates">
    <h3>Announcements</h3>
    <ul>
                            <li>
      <a href="announcements/2019/07/16-seb-baurel-road-student-detour.html">            Baurel Road Student Detour 7/17/19 - 8/19/19
    </a>
      <p>Pedestrian traffic on Baurel Road near the SEB construction zone will be detoured between 7/17/19 - 8/19/19</p>
    </li>
          </ul>
  <br/>
  <p class="shadow-sm bg-white pl-1 pr-1 pt-1 pb-1 rounded text-center"><a href="announcements/index.html">Read All Announcements</a></p>
</div>