@charset "UTF-8";
/* CSS Document */


#home { }

	#home h2 {color:#f47321; font-weight:bold; margin-bottom:5px; font-size:150%;}
	#home h3 {text-transform:uppercase; color:#002a5c; font-weight:bold; font-size:133%;}
	#home h4 {text-transform:capitalize; color:#002a5c; font-style:italic; font-size:116%;}
	#home p {padding:0;}
	
	#home select {width:100%; margin-bottom:5px;}
	
	/*=============================================
	Feature
	==============================================*/
	
	#feature {
		padding:5px 0 20px 0;}
		
	#feature .feature-container {
		width:950px;
		height:350px;
		background-color:#111;
		/*CSS3*/ -moz-box-shadow: 0px 0px 5px #111;
	  	/*CSS3*/ -webkit-box-shadow: 0px 0px 5px #111;
		/*CSS3*/ box-shadow: 0px 0px 5px #111;}
		
	#feature .feature-image {
		width:950px;
		height:350px;
		position:relative;
		overflow:hidden;}
		
	#feature .feature-image .feature-caption-hidden {
		display:none;}
		
	#feature .feature-caption {/*There is an IE6 Conditional*/
		width:360px;
		height:290px;
		background: url(../img/bg/feature-80-f47321.png) repeat-x top left;
		position:relative;
		margin-top:-320px;	/*Positions the Blue Box [y]*/
		margin-left:0px;}	/*Positions the Blue Box [x]*/
		
	#feature .feature-caption h1 {
		padding:20px 20px 4px 20px;
		color:#fff;
		font-family:"Lucida Grande", Arial, sans-serif;
		font-size:36px;
		line-height:40px;
		font-weight:bold;}
		
	#feature .feature-caption h2 {
		padding:5px 20px 4px 20px;
		color:#eee;
		font-family:"Lucida Grande", Arial, sans-serif;
		font-size:15px;
		line-height:21px;}
	
	#feature .feature-caption a {
		color:#fff; border-bottom:#fff 1px solid; padding-bottom:2px;}
	
	#feature .feature-caption a:hover {
		color:#FC6;}
		
	#feature .feature-caption span.emphasis {
		font-size:50px;
		color:#f47321;}
		
	#feature .feature-nav {	/*There is an IE6 Conditional*/
		z-index:15;
		position:absolute;
		margin-left:25px;	/*Positions the Feature Navigation [x]*/
		margin-top:280px;	/*Positions the Feature Navigation [y]*/
		cursor:pointer;}
		
	/*#feature .feature-nav li {
		padding-bottom:0;}*/
		
	#feature #home-feat-nav a.fnav {
		font-size:2em; color:#fff; padding-right:2px; border-bottom:none;}
		
	#feature #home-feat-nav a.fnav a {
		color:#fff;}
		
	  #feature #home-feat-nav a.activeSlide {
		color:#a7c2d9;}
	
	
	/*=============================================
	Home Content - Non Gray Box
	==============================================*/
	
	.home-content h2 a {color:#f47321;}
	.home-content ul {margin-top:10px; margin-bottom:20px;}
	.home-content li {border-bottom:1px solid #ccc; padding:4px 2px;}
	.home-content li a {color:#002a5c;}
	.home-content li a:hover {color:#f47321;}
	.home-content li.first {border-top:1px solid #ccc;}
	.home-content li.dropdown {border-bottom:none; border-top:none;} 
	span.arrow {color:#f47321;}
	
	.visit-img {
		width:100%; height:175px; margin-top:5px; margin-bottom:10px; overflow:hidden; border:3px solid #e7e7e7;}
	
	
	.home-2col-list {width:50%;}/*Fix the side by side listing on home page */
	
	
	/*=============================================
	Home-Content - Gray Box
	==============================================*/
	/*news*/
	#home .boxed h2 {margin-bottom:10px; color:#f47321; font-size:150%;}
	#home .boxed h3 {color:#002a5c; font-size:116%;} 
	#home .boxed hr {border-color:#e7e7e7;}
	.boxed {background-color:#f3f3f3; border:3px solid #eee; padding:20px 25px; margin-bottom:20px;}
	.news-item {float:left; width:150px;}
	
	#home .boxed .news-item h3 {font-size:88%; line-height:18px; color:#002a5c;}
	#home .boxed .news-item p {line-height:18px; color:#777;}
	.news-item a {color:#777; border-bottom:none;}
	.news-item a:hover {color:#f47321;}
	.news-item img {margin-bottom:5px; border:1px solid #fff; width:145px; overflow:hidden;}
	p.more {color:#777; float:left;}
	p.more a {color:#555; border-bottom:1px solid #aaa;}
	p.more a:hover {color:#f47321;}
	div.rss {float:right; background-color:#eee; border:1px solid #ddd; padding:3px 5px; font-size:88%; cursor:pointer;}
	div.rss a {color:#555;}
	
	/*events*/
	.event-item {margin-bottom:5px;}
	.event-date {float:left; width:10%; margin-top:4px; margin-right:4%;}
	.event-date span.month {display:block; text-align:center; background-color:#ddd; font-size:86%; color:#333; text-transform:uppercase;
		-moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; 
		-webkit-border-top-left-radius: 5px;  -webkit-border-top-right-radius: 5px;
		-moz-box-shadow:0px 0px 3px #999; -webkit-box-shadow:0px 0px 3px #999;}
	.event-date span.day {display:block; text-align:center; background-color:#e7e7e7; font-size:100%; color:#666; 
		-moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px; 
		-webkit-border-bottom-left-radius: 5px;  -webkit-border-bottom-right-radius: 5px;
		-moz-box-shadow:0px 0px 3px #999; -webkit-box-shadow:0px 0px 3px #999;}
	.event-name {float:left; width:86%;}
	.event-name a {color:#002a5c; border-bottom:1px solid #f47321;}
	.event-name a:hover {color:#f47321;}
	.event-name p {margin-bottom:10px; }
	
	/*On utsa.edu*/
	.carousel {position:relative;}
	.carousel a.prev {position:absolute; left:-40px; top:95px;}
	.carousel a.next {position:absolute; right:-15px; top:95px;}
	.carousel-container {}
	.carousel-item {float:left; width:153px;}
	.carousel-item img {margin-bottom:5px; border:2px solid #fff; height:130px;}
	.carousel-item p {margin-bottom:0px; font-size:12px; line-height:16px; font-weight:bold; color:#002a5c;}
	.carousel-item a {color:#333; font-size:11px; line-height:15px; font-weight:normal;}
	.carousel-item a:hover {color:#f47321;}
	
	#home .carousel h2 {float:left;}
	.carousel-nav {float:right; margin-right:25px;}
	.carousel-nav a.cNav {font-size:2em; color:#ddd; padding-right:2px; border-bottom:none;}
	.carousel-nav a.cNav:hover {color:#002a5c;}				
	.carousel-nav a.activeSlide {color:#002a5c;}
	
	
	
	
	
/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }

/* Icons
----------------------------------*/
/* states and /start/img/ic/ui */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Component containers
----------------------------------*/
.ui-widget { font-family: Verdana,Arial,sans-serif; /*font-size: 1.1em;*/}
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(/start/img/icon/ui/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(/start/img/icon/ui/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
.ui-widget-header a { color: #222222; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #d3d3d3; 
	/*/////////// COLOR OF SELECT DROPDOWNS /////////// */
	background: #fff;
	/*background: #e6e6e6 url(/start/img/icon/ui/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;*/ 
	font-weight: normal; color: #555555; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #999999; 
	/*/////////// COLOR OF SELECT DROPDOWNS HOVER /////////// */
	background:#eaf4f7;
	color:#002a5c;
	/*background: #dadada url(/start/img/icon/ui/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;*/
	font-weight: normal; /*color: #212121;*/ outline: none; }
.ui-state-hover a, .ui-state-hover a:hover {
	color:#002a5c;
	/*color: #212121;*/ text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(/start/img/icon/ui/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #fcefa1; background: #fbf9ee url(/start/img/icon/ui/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(/start/img/icon/ui/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #cd0a0a; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

/* Icons
----------------------------------*/

/* states and /start/img/ic/ui */
.ui-icon { width: 16px; height: 16px; background-image: url(/start/img/icon/ui/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(/start/img/icon/ui/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(/start/img/icon/ui/ui-icons_222222_256x240.png); }
.ui-state-default .ui-icon { background-image: url(/start/img/icon/ui/ui-icons_888888_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(/start/img/icon/ui/ui-icons_454545_256x240.png); }
.ui-state-active .ui-icon {background-image: url(/start/img/icon/ui/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(/start/img/icon/ui/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(/start/img/icon/ui/ui-icons_cd0a0a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
.ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa url(/start/img/icon/ui/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(/start/img/icon/ui/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; }

/* Selectmenu ---------------------------------*/
.ui-selectmenu {
	display: block;
	position:relative;
	height:2em;
	text-decoration: none;
	overflow:hidden;}
	
.ui-selectmenu-icon {
	position:absolute;
	right:6px;
	margin-top:-8px;
	top: 50%;}
	
.ui-selectmenu-menu {
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	top: 0;
	visibility: hidden;
	/*overflow:auto;*/
	/*height:400px;		/*Things allows it to scroll and prevent unncessary space in footer */
	overflow:scroll;}
	
.ui-selectmenu-open {
	visibility: visible;}
	
.ui-selectmenu-menu-popup {
	margin-top: -1px;}
	
.ui-selectmenu-menu-dropdown { }

.ui-selectmenu-menu li {
	padding:0;
	margin:0;
	display: block;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-right-width: 0 !important;
	border-left-width: 0 !important;
	font-weight: normal !important;}
	
.ui-selectmenu-menu li a, .ui-selectmenu-status {
	line-height: 1.4em;
	display:block;
	padding:.3em 1em;
	outline:none;
	text-decoration:none;}
	
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a, .ui-selectmenu-hasIcon .ui-selectmenu-status {
	padding-left: 20px;
	position: relative;
	margin-left: 5px;}
	
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon {
	position: absolute;
	top: 1em;
	margin-top: -8px;
	left: 0;}
	
.ui-selectmenu-status {
	line-height: 1.4em;}
	
.ui-selectmenu-open li.ui-selectmenu-item-focus a { }
.ui-selectmenu-open li.ui-selectmenu-item-selected { }

.ui-selectmenu-menu li span, .ui-selectmenu-status span {
	display:block;
	margin-bottom: .2em;}
	
.ui-selectmenu-menu li .ui-selectmenu-item-header {
	font-weight: bold;}
	
.ui-selectmenu-menu li .ui-selectmenu-item-content { }

.ui-selectmenu-menu li .ui-selectmenu-item-footer {
	opacity: .8; }
	
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group {
	font-size: 1em;}
	
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label {
	line-height: 1.4em;
	display:block;
	padding:.6em .5em 0;
	font-weight: bold;}
	
.ui-selectmenu-menu .ui-selectmenu-group ul {
	margin: 0;
	padding: 0;}




