/*clearfix*/
.clearfix {zoom:1;}

/*TOB BAR - Utility Menu*/
.utility-menu li a {padding-top:2px;}
.utility-menu li.search #cse-search-box .searchbutton {margin-right:5px;}
.utility-menu li.search #cse-search-box .searchfield {padding:0px;}

/*Fix the side by side listing on home page */
.home-2col-list {width:49%;}


/* anchored image Borders */
.nestedImage .nest-img a {border-bottom:none !important;}

#col-main ol, #col-main ul{padding-left: 6px;}