
/* Tempalte Page Navigation Fix*/
/*Page Navigation - Fixing the spacing between list items*/
#col-navigation .nav-page a {padding:0; margin:0px; height:18px;}
#col-navigation .nav-page ul li {padding:0; margin:0;}
#col-navigation .nav-page ul li a {padding:10px 0 2px 0; margin:0px; line-height:12px;}
#col-navigation .nav-page ul ul {margin-top:-8px; margin-bottom:3px;}
#col-navigation .nav-page ul li ul li a {padding:0 0 7px 0; margin:0px; line-height:12px;}
#col-navigation .nav-page li ul.toggleWrap {padding-top:10px; padding-bottom:0px;}
#col-navigation .nav-page li a.trigger {background-position:right 5px;}




/*Fixes extra spacing on Global Navigation*/
#globalNav {margin-top:0px;}


/*Line underneath Logo*/
.brand {border-bottom:none;}
		
		
/*Home page news section*/
.news-item {width:140px;}



#feature .feature-container .feature-caption {background-image:none; background-color:#f47321; /*filter:alpha(opacity=80);*/ }
#page-feature .feature-container .feature-caption {background-image:none; background-color:#f47321; /*filter:alpha(opacity=80);*/ }