/* Conditional for Internet Explorer 7- */

#branding-blue {z-index:10;}
#header-orange {z-index:1;}
#topBar {z-index:8;}
#globalNav {z-index:5;}
#feature .feature-container .feature-image, #page-feature .feature-container .feature-image  {z-index:1;}

/*FEATURE on Home Page*/
#feature .feature-container .feature-image {overflow:hidden;}

#page-feature .feature-container {width:950px;}
#page-feature .feature-container .feature-image {width:950px; overflow:hidden;}



/*STARTER PAGE - ADmissions*/
.college {margin-right:14px;}





/*=============================================
Home Page
==============================================*/
/*news*/
#home .boxed hr {margin-top:0px;}
.carousel a.next {z-index:1000;}
.carousel-nav {margin-right:10px;}

/*=============================================
Content Layout Structure
==============================================*/
#home .size2of5 {float:left; width:39%;}
#home .size3of5 {float:left; width:60%;}



/*=============================================
Content Layout Structure
==============================================
	.size1of1{float:left; width:100%;}
	.size1of2{float:left; width:49%;}
	.size1of3{float:left; width:33%;}
	.size2of3{float:left; width:66%;}
	.size1of4{float:left; width:24%;}
	.size3of4{float:left; width:74%;}
	.size1of5{float:left; width:20%;}
	.size2of5{float:left; width:40%;}
	.size3of5{float:left; width:60%;}
	.size4of5{float:left; width:80%;}
	.gutter {padding-right:30px;}
	.col-layout {margin-bottom:20px;}*/
