/*
Author:The University of Texas at San Antonio
Website:http://utsa.edu

1. RESET
2. GLOBAL RULES
3. STRUCTURE
4. BRANDING
5. HEADER
6. CONTENT (global)
7. FOOTER
8. MEDIA QUERIES
*/


/*
==================================================================================================
1. RESET
================================================================================================== 
*/

* {margin:0; padding:0;}

/* Tables still need 'cellspacing="0"' in the markup. */
table {border-collapse:collapse; border-spacing:0;}
td, th {vertical-align:top;}

/* Remove annoying border on linked images. */
a img {border:none;}

/* Remove bullets. */
li {list-style:none;}

/* Make these work even in the modules, etc. where everything is reset */
i, em {font-style:italic !important;}
b, strong {font-weight:bold !important;}
u {text-decoration:underline !important;}

/* Remvoes font weight*/
h1, h2, h3, h4 ,h5 ,h6 {font-weight:normal;}

/*
==================================================================================================
2. GLOBAL RULES 
================================================================================================== 
*/

body {
	font-family:"Lucida Grande", Tahoma, Geneva, Helvetica, Arial, sans-serif; 
	font-size:75%;
	line-height:18px;
	font-weight:normal; 
	background-color:#051e42;}

p {font-size:100%; line-height:20px;}	/*font size 12px*/
h1, .h1 {font-size:200%; line-height:24px;}	/*font size 24px*/
h2, .h2 {font-size:150%; line-height:26px;}	/*font size 18px*/
h3, .h3 {font-size:133%; line-height:22px;}	/*font size 16px*/
h4, .h4 {font-size:116%; line-height:20px;}	/*font size 14px*/
h5, .h5 {font-size:116%; line-height:20px;}	/*font size 14px*/
h6, .h6 {font-size:116%; line-height:20px;}	/*font size 14px*/

hr {border-color:#ddd; border-style:solid; border-width:1px; margin-top:1em; margin-bottom:1em;}

a {text-decoration:none;}
a:focus {outline:none;}

li {padding-bottom:.375em;}

.floatL {float:left;}
.floatR {float:right;}
.floatC {clear:both;}

.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;} /*There is an IE7 Conditional*/


.screen-reader-top {border:none; color:#f47321; position:absolute; left:-9999px;}
a.screen-reader {border:none!important;}


/*
==================================================================================================
3. STRUECTURE 
================================================================================================== 
*/

body {}

	/*=============================================
	Branding
	==============================================*/
	#branding-blue {
	margin:0 auto;
	min-width:950px;
	width:auto;
	background:no-repeat 0 0 #051e42 scroll;
	position:relative;}
	
	/*=============================================
	100% Defines Color
	==============================================*/
	#header-orange, #header-blue, #content-white, #content-bg, #content-gray, #footer-blue, #footer-orange, #footer-gray, #orange-border {
	min-width:950px;
	width:auto;
	position:relative;
	}
	
	#header-blue {background:no-repeat 0 0 #051e42 scroll;}
	#content-white {background:no-repeat 0 0 #ffffff scroll;}
	#content-gray {background:no-repeat 0 0 #eeeeee scroll;}
	#footer-blue {background:no-repeat 0 0 #051e42 scroll;}
	#footer-orange {background:no-repeat 0 0 #fb6b21 scroll;}
	#footer-gray {background:no-repeat 0 0 #eeeeee scroll;}
	
	/*Global Navigation*/						#header-orange {background:no-repeat 0 0 #fb6b21 scroll; border-top:2px solid #F60; border-bottom:2px solid #F60;}
	/*Starter Header*/							#content-starter {background:no-repeat 0 0 #002a5c scroll; border-bottom:2px solid #ddd;}	
	/*Template Page Content*/					#content-bg {background:no-repeat 0 0 #ffffff scroll;}
	/*Template Page Orange Line below Header*/	#orange-border {background:no-repeat 0 0 #002a5c scroll; height:2px;}
	
	/*=============================================
	Centers the Website
	==============================================*/
	#topBar, 			/*located in branding */
	#topBarSM,			/*located in branding */
	#globalNav, 		/*located in header */
	#navigation,		/*located in header */
	#header-content,	/*located in header */
	#feature, 			/*located in header */
	#footer,		 	/*located in footer */	
	#starter,			/*located in starter.css */
	#starter-feature, 	/*located in starter.css */
	#home,				/*located in starter.css */
	#content-feature,	
	#content, 			/*located in Content*/
	#content-extra		/*located in Content*/
	{margin:0 auto; width:950px; position:relative;}

	/*=============================================
	Content Layout Structure
	==============================================*/
	.size1of1{float:left; width:100%;}
	.size1of2, .size2of4 {float:left; width:50%;}
	.size1of3{float:left; width:33%;}
	.size2of3{float:left; width:66%;}
	.size1of4{float:left; width:25%;}
	.size3of4{float:left; width:75%;}
	.size1of5{float:left; width:20%;}
	.size2of5{float:left; width:40%;}
	.size3of5{float:left; width:60%;}
	.size4of5{float:left; width:80%;}
	.gutter {padding-right:30px;}
	.pad {padding:20px 0px;}

/*
==================================================================================================
4. BRANDING
================================================================================================== 
*/

#topBar {padding:10px 0px; position:relative;}

	/*=============================================
	LOGO - Starter
	==============================================*/	
	.brand {float:left; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #f47321;}
	ul.logo li a {width:330px; height:28px; display:block; background:url(../img/branding/logo.jpg) no-repeat 0px 0px;
		text-indent:81px; line-height:42px;	color:#ffffff; font-size:14px;
		/*CSS3*/ text-shadow:0px 0px 3px #002a5c;}
	ul.logo li a:hover {background-position:0px -60px; color:#ffffff; color:#f47321;}
	
	/*=============================================
	LOGO - Small
	==============================================*/	
	ul.logo-small li a {width:350px; height:20px; display:block; background:url(../img/branding/logo-small.jpg) no-repeat 0px 0px;
		text-indent:61px; line-height:30px;	color:#ffffff; font-size:11px;
		/*CSS3*/ text-shadow:0px 0px 3px #002a5c;}
	ul.logo-small li a:hover {background-position:0px -45px; color:#f47321;}
	
	/*=============================================
	Extended Branding - Utility
	==============================================*/	
	.utility {position:absolute; right:0;}
	.utility-menu {margin-left:12px;}
	.utility-menu ul {}
	.utility-menu li {float:left; position:relative; margin-left:12px; z-index:9999;}
	.utility-menu li a {display:block; color:#ffffff; border-top:1px solid #051e42; font-size:10px; padding-top:2px;}
	.utility-menu li a:hover {border-top:1px solid #f47321; color:#f47321;}
	.utility-menu li a.children {}	
	.utility-menu ul ul.audience li a {border-top:none;}
	.utility-menu ul ul {position:absolute; visibility:hidden; left:0; float:left; z-index:9999; background:#051e42; padding:0 10px; margin-left:-10px;
		/*CSS3*/ -moz-border-radius-bottomleft:8px; -moz-border-radius-bottomright:8px; -webkit-border-bottom-left-radius:8px; -webkit-border-bottom-right-radius:8px; border-radius:8px;}
	.utility-menu ul ul li {padding:0; margin:0; line-height:20px;}
	.utility-menu ul ul a {width:80px;}
	.utility-menu ul li:hover > ul {visibility:visible;}
	.utility-menu li:hover > a {border-top:1px solid #f47321; color:#f47321;}
	.utility-menu ul ul.audience li a:hover {border-top:none;}
	
	/*=============================================
	Search Bar
	==============================================*/
	
	.utility-menu li.search {background-color:#f1f1f1;	border:1px solid #bcbbbb; position:relative;
		 -webkit-border-radius:2em; -moz-border-radius:2em; border-radius:2em;
		 -webkit-box-shadow:0 1px 0px rgba(0,0,0,.1); -moz-box-shadow:0 1px 0px rgba(0,0,0,.1); box-shadow:0 1px 0px rgba(0,0,0,.1);}
	.utility-menu li.search #cse-search-box {background-color:#f1f1f1; margin:0px 0 0 4px; position:relative;
		 -webkit-border-radius:2em; -moz-border-radius:2em; border-radius:2em;}
	.utility-menu li.search #cse-search-box .searchfield {float:left; background:#f1f1f1; padding:0px; margin-top:4px; margin-left:4px; width:130px; border:none; outline:none; font-size:90%;
		-webkit-border-radius:2em; -moz-border-radius:2em; border-radius:2em;}
	.utility-menu li.search #cse-search-box .searchbutton {float:left; margin-right:8px; margin-top:3px;}
	
/*
==================================================================================================
5. HEADER + NAVIGATION
================================================================================================== 

	/*=============================================
	Global Navigation
	==============================================*/
	#globalNav {margin-top:10px; margin-bottom:5px;}
	#globalNav a {color:#f47321;}
	#globalNav ul.nav li {}
	#globalNav ul.nav li a {height:26px; display:block; overflow:hidden; cursor:pointer; text-indent:-9999px;}
	#globalNav ul.nav li a.nav-admissions {width:105px; background:url(../img/navigation/globalNav.jpg) no-repeat 0px -26px;}	
	#globalNav ul.nav li a.nav-academics {width:110px; background:url(../img/navigation/globalNav.jpg) no-repeat -105px -26px;}
	#globalNav ul.nav li a.nav-research {width:105px; background:url(../img/navigation/globalNav.jpg) no-repeat -215px -26px;}
	#globalNav ul.nav li a.nav-athletics {width:95px; background:url(../img/navigation/globalNav.jpg) no-repeat -320px -26px;}	
	#globalNav ul.nav li a.nav-campus {width:125px; background:url(../img/navigation/globalNav.jpg) no-repeat -415px -26px;}
	#globalNav ul.nav li a.nav-community {width:195px; background:url(../img/navigation/globalNav.jpg) no-repeat -540px -26px;}
	#globalNav ul.nav li a.nav-alumni {width:80px; background:url(../img/navigation/globalNav.jpg) no-repeat -735px -26px;}
	#globalNav ul.nav li a.nav-giving {width:135px; background:url(../img/navigation/globalNav.jpg) no-repeat -815px -26px;}
	
	#globalNav ul.nav li a:hover.nav-admissions {background:url(../img/navigation/globalNav.jpg) no-repeat 0px 0px;}	
	#globalNav ul.nav li a:hover.nav-academics {background:url(../img/navigation/globalNav.jpg) no-repeat -105px 0px;}
	#globalNav ul.nav li a:hover.nav-research {background:url(../img/navigation/globalNav.jpg) no-repeat -215px 0px;}
	#globalNav ul.nav li a:hover.nav-athletics {background:url(../img/navigation/globalNav.jpg) no-repeat -320px 0px;}
	#globalNav ul.nav li a:hover.nav-campus {background:url(../img/navigation/globalNav.jpg) no-repeat -415px 0px;}
	#globalNav ul.nav li a:hover.nav-community {background:url(../img/navigation/globalNav.jpg) no-repeat -540px 0px;}
	#globalNav ul.nav li a:hover.nav-alumni {background:url(../img/navigation/globalNav.jpg) no-repeat -735px 0px;}
	#globalNav ul.nav li a:hover.nav-giving {background:url(../img/navigation/globalNav.jpg) no-repeat -815px 0px;}
	
		
/*
==================================================================================================
6. CONTENT - STARTER PAGES
================================================================================================== 
*/
	/* see starter.css*/

/*
==================================================================================================
6. CONTENT - TEMPLATE PAGES
================================================================================================== 
*/
	
	/* see template.css */
	
	
/*
==================================================================================================
7. FOOTER
================================================================================================== 
*/	
	#footer {padding:20px 0px 30px 0px;}
	
	/*=============================================
	Expanded Footer
	==============================================*/
	#expanded-footer {
		padding-bottom:20px;
		margin-bottom:14px; 
		border-bottom:1px solid #f47321;}
	#expanded-footer ul {
		float:left; 
		width:111px; 
		border-left:1px solid #002a5c; 
		padding-left:11px; padding-right:12px; 
		min-height:260px;}
	#expanded-footer ul li {
		padding-bottom:9px;}
	#expanded-footer ul li a {
		color:#ccc;
		font-size:100%;}
	#expanded-footer ul li a:hover {
		color:#f47321;}
	#expanded-footer ul li.audience-footer-label {
		color:#f47321; 
		padding-bottom:10px;}
	#expanded-footer ul li.audience-footer-label a {
		color:#f47321;
		font-size:105%;}
	#expanded-footer ul.footer-media {
		border-right:1px solid #002a5c; 
		width:110px;}	
		
	/*=============================================
	Copyright Information + Utility Footer
	==============================================*/
	#copyright {}
	
	.footer-logo {float:right;}
	
	ul.footer-utility li {
		display:inline;
		margin-right:10px;}
		
	ul.footer-utility li a {
		color:#f47321;}
		
	ul.footer-utility li a:hover {
		border-bottom:1px solid #f47321;}
				
	p.footer-copyright {
		font-size:90%; margin-top:2px;}
	
	p.footer-copyright, p.footer-copyright a {
		color:#eee;}
		
	a.footer-logo {
		width:106px;height:32px;
		background:url(../img/branding/footer-logo.jpg) no-repeat top left;
		display:block;
		text-indent:-9999px;}
		


/*
==================================================================================================
SEARCH RESULT PAGE
================================================================================================== 
*/	

#cse-search-results  {height:1200px; overflow:hidden;}