h1, h2, h3, h4, h5, h6, h7, h8 {
	 color: #0c2340;
}
 #site-footer a:link {
	 color:#002a5c;
}
 #site-footer a:hover {
	 color: #f15a22;
}
 .site-top-Title {
	 font-weight: 700;
	 margin: .3em 0 .6em;
	 display: block;
	 font-family: inherit;
	 line-height: 1.1;
	 font-size: 2.75rem;
	 text-rendering: optimizelegibility;
	 background-color: #FFF;
	 box-sizing: border-box;
	 color: #0c2340;
	 cursor: auto;
}
 .site-top-Title a:hover {
	 color: #f15a22;
}
 .site-top-Title a {
	 color: #0c2340;
}
 #site-top, #site-content {
	 margin-top: 1.1em;
}
 .site-top-Title {
	 float: left;
	 width: 100%;
	 margin-bottom: 20px;
}
 .site-top-Title-img {
	 float: left;
	 width: 77;
	 padding-right: 0.75rem;
}
 .content-caption {
	 font-size: 0.75rem;
}
 #site-navigation {
	 z-index:150;
}
 #departmentalPageNav ul {
	 z-index:250;
}
 #departmentalPageNav {
	 background: #0c2340;
	 margin-left: 0;
	 margin-bottom: 0;
}
 .breadcrumbs {
	 padding-top: .9em;
	 padding-bottom: 0.45em;
	 font-size: .85em 
}
 .breadcrumbs span {
	 padding: 0 .2em 
}
 .breadcrumbs a {
	 color: #0c2340;
}
 .breadcrumbs a:hover {
	 color: #f15a22;
}
 .breadcrumbs i{
	 color: #f15a22;
}
 #departmentalPageNav li a {
	 color: #fff;
}
 #departmentalPageNav li a:hover {
	 color: #f15a22;
	 width: 100%;
}
 #departmentalPageNav li ul li {
	 border-top: 1px solid #3D3D3D 
}
 #departmentalPageNav li ul li {
	 background: #0C2340;
	 border-top: 1px solid #3D3D3D 
}
 #departmentalPageNav li {
	 display: inline-block;
	 margin-right: 0;
	 position: relative;
	 color: #fff;
	 padding: 15px 10px;
	 cursor: default 
}
 #departmentalPageNav li a {
	 border-bottom: none;
	 color: #fff;
	 padding: 15px 0;
	 text-decoration: none 
}
 #departmentalPageNav li ul {
	 padding: 0;
	 position: absolute;
	 top: 50px;
	 left: -3px;
	 width: 245px;
	 display: none;
	 opacity: 0;
	 visibility: hidden;
	 border-top: 3px solid #f15a22 
}
 #departmentalPageNav li ul li {
	 display: block;
	 border-top: 1px solid #0D2F59 
}
 #departmentalPageNav li ul li a {
	 padding: 15px 10px 
}
 #departmentalPageNav li:hover ul {
	 display: block;
	 opacity: 1;
	 visibility: visible 
}
 .nav-gray {
	 background-color: #e0e0e0;
	 padding: 17px;
	 position: relative;
	 -moz-box-shadow: 0 0 1px #888;
	 -webkit-box-shadow: 0 0 1px #888;
	 box-shadow: 0 0 1px #888;
	 -moz-border-radius: 2px;
	 -webkit-border-radius: 2px;
	 border-radius: 2px;
}
 #col-navigation .nav-gray a {
	 border-bottom: none;
	 color: #002244;
	 display: block;
	 padding: 6px 0;
}
/* PRIMARY ==============================================*/
 .nav-gray ul {
	 margin: 0;
	 padding: 0;
}
 .nav-gray li {
	 list-style: none;
	 padding: 0;
	 padding-bottom: 5px;
}
 .nav-gray a {
	 padding-bottom:0;
}
 #col-navigation .nav-gray li a {
	 border-top: 1px solid #ccc;
	 color: #002244;
	 font-size: 95%;
}
 #col-navigation .nav-gray li:first-child a {
	 border-top: none;
}
 #col-navigation .nav-gray li a:hover {
	 color: #f47321 
}
 #col-navigation .nav-gray a.selected {
	 color: #ad3204;
	 font-weight: bold;
}
/* Default Icon Color when in col-navigation */
 #col-navigation i.fa {
	 padding-left: 0.4rem;
	 color: #f15a22;
}
 .nav-gray > ul > li > ul {
	/* padding-bottom: 10px;
	 */
}
/* SECONDARY ==============================================*/
 .nav-gray ul ul {
	 margin-top: -2px;
	 padding: 0 0 0 15px;
}
 .nav-gray li li {
	 list-style-position: outside;
}
 ul.subfolder {
	 padding:0;
}
 .subfolder li {
	 padding:0;
}
 #col-navigation .nav-gray li li a {
	 border: none;
	 color: #444;
	 font-size: 90%;
	 padding: 2px 0;
}
/* TERTIARY ==============================================*/
 .nav-gray ul ul ul {
	 padding: 0 0 0 15px;
	 margin: 0;
}
 #col-navigation .nav-gray li li li a {
	 font-size: 80%;
	 padding: 2px 0;
}
/* QUATERNARY ==============================================*/
 .nav-gray ul ul ul ul {
	 padding: 0 0 0 15px 
}
 #col-navigation .nav-gray li li li li a {
	 font-size: 75%;
	 padding: 2px 0;
}
/* QUINARY ==============================================*/
 #col-navigation .nav-gray li li li li li {
	 font-size: 95%;
}
/* SELECTED ITEM STYLES ==============================================*/
 #col-navigation .nav-gray > ul > li.parent > a {
	 cursor: pointer;
	 padding-right: 25px;
}
 #col-navigation .nav-gray > ul > li.parent:hover > a {
	 background-position: right -32px;
	 color: #f47321;
}
 #col-navigation .nav-gray > ul > li.parent > a.selected {
	 background-position: right -96px;
	 font-weight: bold;
}
 #col-navigation .nav-gray > ul > li.parent > a.selected:hover {
	 color:#000;
	 background-position: right -64px;
}
/* NAV ACTION BUTTONS ==============================================*/
 #col-navigation ul.action-btn li {
	 margin-bottom: 8px;
}
 #col-navigation ul.action-btn li:last-child {
	 border: 0;
	 margin-bottom: 25px;
}
 #col-navigation .nav-gray li a.btn {
	 color: #fff;
	 font: bold 80%/1.2 'Open Sans', sans-serif;
}
 #col-navigation .nav-gray a.btn {
	 border: none;
	 font: bold 90%/1 'Open Sans', sans-serif;
	 text-transform: uppercase;
	 color: #ffffff;
	 padding: 8px;
	 text-align: center;
	 -moz-border-radius: 3px;
	 -webkit-border-radius: 3px;
	 border-radius: 3px;
}
 #col-navigation .nav-gray li a.btn {
	 background:#f68a38;
	/*IE Fix*/
	 background: -moz-linear-gradient( top, #f57c20 0%, #f68a38);
	 background: -webkit-gradient( linear, left top, left bottom, from(#f57c20), to(#f68a38));
	 background: -ms-linear-gradient( top, #f57c20 0%, #f68a38);
	 -moz-box-shadow: 0px 3px 0px rgba(189,77,8,1), inset 0px 0px 3px rgba(255,255,255,0);
	 -webkit-box-shadow: 0px 3px 0px rgba(189,77,8,1), inset 0px 0px 3px rgba(255,255,255,0);
	 box-shadow: 0px 3px 0px rgba(189,77,8,1), inset 0px 0px 3px rgba(255,255,255,0);
}
 .utsa-social-circle-top .fa {
	 font-size: .85em;
	 padding-left: 0.3em;
	 width: 1.8em;
	 height: 1.8em;
	 line-height: 1.6em;
	 float: none;
	 border-radius: 50%;
	 border: 2px solid #0c2340;
	 color: #0c2340;
	 text-align: center;
	 background: #fff;
}
 .utsa-social-circle-top .fa:hover {
	 color: #f15a22;
	 border: 2px solid #f15a22;
}
 h2.homebg {
	 background-color: #e4e4e4;
	 border-left: 0.5rem solid #0c2340;
	 padding: 0.5rem 0px 0.5rem 0.5rem;
}
 .grayBoxContainer {
	 padding: 1rem;
	 background: #f1f1f1;
}
 .card-block {
	 padding:0;
}
 .card-block a {
	 color: #fff;
}
 .card-block a:hover {
	 color: #f15a22;
}
 .card-block h2 a {
	 color: #0c2340;
}
 .card-secondary {
	 padding: 1.2em;
	 background-color:#f1f1f1;
	 border:0px;
	 min-height:225px !important;
}
 .card-primary {
	 background-color:#fff;
	 border:0px;
}
 .secondaryheadline {
	 background-color: #0c2340;
	 color: #fff;
	 padding-left: 7px;
	 font-size: 1.20rem;
	 line-height: 1.5rem;
	 font-weight: 400;
	 padding-bottom: 15px;
	 padding-top: 10px;
	 padding-right: 10px;
}
 .card-primary {
	 background-color:#fff;
	 border:0px;
}
 .secondaryheadlineblue {
	 background-color: #0c2340;
	 color: #fff;
	 padding-left: 7px;
	 font-size: 1.20rem;
	 line-height: 1.5rem;
	 font-weight: 400;
	 padding-bottom: 15px;
	 padding-top: 10px;
	 padding-right: 10px;
}
 .card img {
	 width:100%;
}
 div.accordion div.card div.media img {
	 width: auto;
}
 .card p {
}
 .carousel-overlay {
	 position: absolute;
	 top:10%;
	 bottom:10%;
	 right:7%;
	 z-index: 10;
}
 .carousel-card {
	 padding: 1.2em;
	 background-color:#f1f1f1;
	 border:0px;
	/*margin-right:1.2rem;
	 */
}
 .orangeBackground {
	 color: #fff;
	 background-color: #f15a22;
}
 .btn-block {
	 display: block;
	 width: 100%;
}
 .orangeBackground a {
	 color: #fff;
}
 .orangeBackground:hover {
	 background-color: #0c2340;
}
 .landingSideMenu li {
	 display: block;
	 border-bottom: 1px dashed #0c2340;
	 padding: 15px 0 1px;
}
 .landingSideMenu li a {
	 color: #f15a22;
	 font-weight: 700;
	 border-bottom: none;
}
 .landingSideMenu {
	 margin: 0 0 2em;
	 padding: 0;
}
 .headerBlock {
	 padding: 0.4rem 0 1.1rem 0;
	 font-size: 1.45rem;
	 font-weight: 75;
}
 .headerBlock p {
	 margin-bottom:0;
}
 textarea#message{
	 margin: 0px;
	 height: 169px;
	 width: 400px;
}
 .blogRoll h4 {
	 font-size: 1.75rem;
	 color: #000;
	 padding: 0.4rem 0;
	 margin:0;
}
 .blogRoll h4, h1.blogTitle {
	 padding: 0.4rem 0;
	 margin:0;
}
 .blogRoll .row {
	 margin-bottom: 1.75rem;
}
 .card-muted-title {
	 font-size: 0.85rem;
	 color: #000;
}
 div.blogCategory {
	 margin-top: 0.25rem;
	 padding: 0.4rem 0;
}
 div.blogCategory span {
	 background-color: #0c2340;
	 opacity: 0.95;
	/* HSLA(16, 88%, 54%, 0.75);
	 */
	 color: #FFF;
	 padding: 0.25rem 0.35rem;
	 margin-right:0.25rem;
}
 div.blogCategory span a {
	 color: #FFF;
}
 div.blogCategory span a:hover {
	 color: #0c2340;
}
 .blogCategory li {
	 padding-bottom: 0.5rem;
	 padding-top: 0.5rem;
	 list-style: none;
}
 .blogCategory ul {
	 padding-left: 0.3rem;
}
 .img-thumbnail {
	 padding:1.5rem;
	 border: none;
}
 ul.custLinkGroup{
	 list-style-type:none;
	 margin:0 0.5em 1.2em 0.5em;
	 padding-left:1.5rem;
}
 .custLinkGroup li{
	 margin-bottom:.25em;
	 text-indent: -0.9rem;
}
 .custLinkGroup li:before{
	 content:'\00bb';
	 padding-right:0.4rem;
	 color:#f15a22 
}
 ul.checkLinkGroup{
	 list-style-type:none;
	 margin:0 0 1.2em 1.1em;
}
 .checkLinkGroup li{
	 margin-bottom:.25em;
	 text-indent: -0.9rem;
}
 .checkLinkGroup li:before{
	 font: normal normal normal 14px/1 FontAwesome;
	 content: "\f00c";
	 padding-right:0.4rem;
	 color:#f15a22 
}
 div.blogRoll > div {
	 border-bottom: 1px solid #e3e3e3;
	 padding-bottom: 2rem;
}
 .card-muted-title{
	 font-weight: bold;
	 color: #0c2340;
	 font-variant: all-petite-caps;
}
 div#social-sidebar {
	 border-bottom: 1px solid #e3e3e3;
	 padding-bottom: 2rem;
}
 div#twitter-embed {
	 border-bottom: 1px solid #e3e3e3;
	 height:1000px;
}
 div.readmore {
	 padding-left: 1.0rem;
}
 div.source {
	 font-weight: bold;
	 font-size: 0.90rem;
}
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	 div.timeline-Viewport, ol.timeline-Tweetlist, div.timeline-Body, div.twitter-timeline, div.twitter-timeline-rendered, iframe#twitter-widget-0, div#twitter-embed, div.timeline-Widget{
		 max-height:1000px !important;
		 height:1000px !important;
	}
}
 @media screen and (max-width:767px){
	 .navbar-nav-scroll{
		 max-width: 100%;
		 height: 3.25rem;
		 overflow: hidden;
	}
	 .navbar-nav-scroll .navbar-nav {
		 margin-bottom: 2rem !important;
		 overflow-x: auto;
		 overflow-y: hidden;
		 white-space: nowrap;
		 -webkit-overflow-scrolling: touch;
	}
}
 .container hr {
	 border: 0.5px solid #0c2340;
	 margin: 0.5em 0;
}
 div.staff p {
	 margin-bottom: 0;
}
 .staffName {
	 margin: 0;
}
 .staffTitle {
	 margin: 0;
}
 .compact span.staffName {
	 font-size: 0.75rem;
}
 .compact span.staffTitle {
	 font-size: 0.65rem;
}
 .embed-box {
	 padding: 1.5rem;
	 border: solid #f7f7f9;
	 border-width: .2rem;
}
 .embed-caption {
	 padding: 1rem;
	 margin-top: 0rem;
	 margin-bottom: 1rem;
	 background-color: #f7f7f9;
	 -ms-overflow-style: -ms-autohiding-scrollbar;
}
 .tint {
	 position: relative;
	 cursor: pointer;
}
 .tint:before {
	 content: "";
	 display: block;
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 background: rgba(12, 35, 64, 0.5);
	 -moz-transition: background 0.3s linear;
	 -webkit-transition: background 0.3s linear;
	 -o-transition: background 0.3s linear;
	 transition: background 0.3s linear;
}
 .container-tint {
	 width: 100%;
	 margin-right: auto;
	 margin-left: auto;
}
 .overlay {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 height: 100%;
	 width: 100%;
	 opacity: 0;
	 transition: 0.5s ease;
	 background-color: rgba(12, 35, 64, 0.65);
	 -webkit-backdrop-filter: blur(3px);
	 backdrop-filter: blur(3px);
}
 .containers:hover .overlay {
	 opacity: 1;
}
 div.containers a, div.today-containers a, div.today-news-containers a, div.apply-buttons a {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 text-decoration: none;
	/* No underlines on the link */
	 z-index: 10;
	/* Places the link above everything else in the div */
	 background-color: #FFF;
	/* Fix to make div clickable in IE */
	 opacity: 0;
	/* Fix to make div clickable in IE */
	 filter: alpha(opacity=1);
	/* Fix to make div clickable in IE */
}
 .blue-bg {
	 background-color: #0c2340;
}

.blue-bg p {
    color: #FFF;
}

 .position-relative {
	 position: relative !important;
}
 .position-absolute {
	 position: absolute !important;
}
 .valign-center {
	 top: 50%;
	 transform: translateY(-50%);
}
 h3.text-shadow, h4.text-shadow, p.text-shadow, span.text-shadow {
	 text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.6) !important;
}
 span.box-text {
	 font-size: 1.75rem;
}
 .primary-bg {
	 background-color: #0c2340;
	 min-height: 187px 
}

.blue-bg h3 {
 color:#FFF;
}


.alt-bg {
	background-color: rgba(164,179,201,.75);
}

/** ONLY OVERRIDES GO IN HERE **/
/** ** Exceptional Faculty Overrides Styles Start **/
 .lt-blue-bg{
	 background-color: #a4b3c9;
}
 @media screen and (min-width:992px){
	 .gray-bg{
		 min-height:350px;
	}
	 .mt-n6{
		 margin-top:-4rem !important;
	}
	 .mt-n8{
		 margin-top:-8rem !important;
	}
}
 .align-items-center {
	 align-items: center!important 
}

 a.btn.btn-light {
    color: #0c2340;
    font-weight:700;
}

a.btn.btn-light:hover {
    color: #f15a22;
}


section.feature p, section.feature div {
}

section.feature p {
    font-size:1.2rem;
    font-family: "freight-text-pro", serif;
    line-height: 1.85;
}

section.feature p.img-caption {
    font-size: 0.95rem;
    line-height: 1.5;
}

.title-divider:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 ; /* This will center the border. */
    width: 25%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 5px solid #f15a22;; /* This creates the border. Replace black with whatever color you want. */
}
.feature blockquote {
    width: 45%;
    float: left;
    margin-right: 1.5rem;
    padding: 1.25rem;
		margin-left: -3.5rem;
}

@media screen and (max-width:1024px){
	.feature blockquote {
	    width: 100%;
	    float: none;
			margin-left: 0.15em;
			margin-right: 0.15em;
	}
}


.align-items-center {
	align-items: center!important
}

.feature blockquote:before {
    color: #0c2340;
    content: open-quote;
		font-size: 5.5em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.feature blockquote:after {
    color: #0c2340;
		content: close-quote;
    font-size: 5.5em;
    line-height: 0.1em;
		margin-top: 0.3em;
		float:right;
    vertical-align: -0.4em;
}


.feature blockquote p {
    font-size: 2.0rem;
		line-height: 1.5em;
    display: inline;
    font-style:italic;
}

.feature .blockquote-footer {
    display: block;
    font-size: 80%;
    color: #ad3204;
    font-weight:800;
}

.feature blockquote {
  background: #eee;
	padding: 2.0rem;
}


/***********************
 ** ANIMATIONS GARRRRRRR!
 ************/
body.is-preload *,
body.is-preload *:after,
body.is-preload *:before {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

body.is-preload *.preload {
  -moz-transform: scale(0.92);
  -webkit-transform: scale(0.92);
  -ms-transform: scale(0.92);
  transform: scale(0.92);
  opacity: 0;
}

*.preload {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transition: opacity 1s  ease, -moz-transform 1s  ease;
  -webkit-transition: opacity 1s  ease, -webkit-transform 1s  ease;
  -ms-transition: opacity 1s  ease, -ms-transform 1s  ease;
  transition: opacity 1s  ease, transform 1s  ease;
  opacity: 1;
  position: relative;
  z-index: 3;
}

.preload-slide {
    position: absolute;
    right: -100px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 0.5s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}


.img-caption {
    background-color: #cdcdcd;
	 font-size: .8rem;
	 color: #333;
	 font-style: italic;
	 padding-top: 10px;
	 padding-left: 5px;
	 margin-bottom: 5px;
}
