@charset "UTF-8";
/* CSS Document */

/*
==================================================================================================
A. STARTER GLOBAL
================================================================================================== 
*/
	#starter {padding:20px 0;}
	
	#starter p {padding-bottom:7px;}
	#starter h1 {color:#f47321;}
	#starter h2 {color:#002a5c; padding-bottom:7px;}
	#starter h3 {color:#f47321; padding-bottom:7px;} 
	#starter h4 {color:#002a5c; padding-bottom:7px;} 
	#starter h5 {color:#002a5c; padding-bottom:7px;} 
	#starter h6 {color:#002a5c; padding-bottom:7px;}  
	
	#starter select {width:100%; margin-bottom:5px;}
	
	#starter .col-gray-layout {background-color:#f3f3f3; padding:20px; border:3px #f1f1f1 solid;}
	
	#starter .col-layout {padding:20px 0;}
	
	
	#starter .col-gray-layout h2 {margin-bottom:0px;}
	#starter .col-layout h2 {color:#f47321; font-size:133%; line-height:22px; padding-bottom:5px; font-weight:bold;}
	
	#starter a {color:#002a5c; border-bottom:1px solid #f47321;}
	#starter a:hover {color:#f47321;}
	 
	/*Javascript Menu*/
	#starter a.ui-selectmenu {border-bottom:1px solid #ddd; margin-top:5px;}
	
/*
==================================================================================================
1. STARTER FEATURES
================================================================================================== 
*/
	#starter-feature {padding-top:20px;}
	
	.feature-container {
		width:950px;
		height:280px;
		background-color:#111;}
		
	.feature-image {
		width:950px;
		height:280px;
		position:relative;
		overflow:hidden;}
		
	.feature-image .feature-caption-hidden {
		display:none;}
		
	.feature-caption {/*There is an IE6 Conditional*/
		width:340px;
		height:230px;
		background: url(../img/bg/feature-80-f47321.png) repeat-x top left;
		position:relative;
		margin-top:-255px;	/*Positions the Blue Box [y]*/
		margin-left:0px;}	/*Positions the Blue Box [x]*/
		
	.feature-caption p.h1 {
		padding:20px 20px 0px 20px;
		color:#002a5c;
		font-family:"Lucida Grande", Arial, sans-serif;
		font-size:27px;
		line-height:35px;
		font-weight:bold;}
		
	.feature-caption p.h2 {
		padding:5px 20px 0px 20px;
		color:#fff;
		font-family:"Lucida Grande", Arial, sans-serif;
		font-size:18px;
		line-height:24px;
		font-weight:bold;}
		
	.feature-caption p.h3 {
		padding:5px 20px 0px 20px;
		color:#eee;
		font-family:"Lucida Grande", Arial, sans-serif;
		font-size:13px;
		line-height:18px;}
	
	.feature-caption a {
		color:#fff; border-bottom:#fff 1px solid; padding-bottom:2px;}
	
	.feature-caption a:hover {
		color:#FC6;}
		
		
	.feature-caption span.emphasis {
		font-size:50px;
		color:#f47321;}
		
	.feature-nav {	/*There is an IE6 Conditional*/
		z-index:9000;
		position:absolute;
		margin-left:25px;	/*Positions the Feature Navigation [x]*/
		margin-top:215px;	/*Positions the Feature Navigation [y]*/
		cursor:pointer;}
		
	.feature-nav li {
		padding-bottom:0;}
		
	.feature-nav a.sfnav {
		font-size:2em; color:#ddd; padding-right:2px; border-bottom:none;}
		
	.feature-nav a.sfnav a {
		color:#f47321;}
		
	.feature-nav a.activeSlide {
		color:#002a5c;}
		
		


.nestedImage {border-bottom:1px solid #ddd; margin-bottom:10px; padding:7px 0 15px 0;}
.nestedImage .nest-img {float:left; width:180px; margin-right:20px;}
.nestedImage .nest-copy {width:395px; float:left;}
.nestedImage .nest-copy-links {width:415px; padding-right:20px; border-right:1px solid #ccc; margin-right:20px; float:left;}
.nestedImage .nest-links {width:290px; float:left;}

.nestedImage .nest-links ul li {color:#f47321;}

.nestedImage {}
.nestedFirst {border-top:1px solid #ddd; padding-top:15px; margin-top:10px;}
.nestedLast {}

#starter .nestedImage .nest-links a {border-bottom:none;}

#starter span.all a {color:#aaa; font-size:80%; text-transform:lowercase; margin-left:5px; border-bottom:none;}
#starter span.all a:hover {color:#002a5c;}
#starter p.more {color:#777; float:left;}
#starter p.more a {color:#555; border-bottom:1px solid #aaa;}
#starter p.more a:hover {color:#f47321;}


/*
==================================================================================================
2. academics.html
================================================================================================== 
*/
	
	.academicLinks ul {margin-bottom:20px;}	
	
	.collegeListing {}
	
	.college {
		float:left;
		width:130px;
		margin-right:18px;
		margin-top:2px;margin-bottom:10px;}
	 
	.college p {
		padding-top:5px;
		font-size:100%; color:#999;}
		
	.college a { }
		
	.college-pic {width:100%; height:120px; background-color:#000; overflow:hidden; border:3px solid #fff;}
	
/*
==================================================================================================
3. admissions.html 
================================================================================================== 
*/

	.admissions ul, .admissions select {margin-top:5px;}
	
	p.admission-apply, 
	p.admission-require, 
	p.admission-request, 
	p.admission-talk, 
	p.admission-cost, 
	p.admission-scholarships {
		padding:0; margin:0;
		height:30px;
		line-height:30px;
		text-indent:35px;
		color:#666;	}
		
	p.admission-apply {background:url(../img/icon/admission-apply.jpg) no-repeat 0 0;} 
	p.admission-require {background:url(../img/icon/admission-require.jpg) no-repeat 0 0;}
	p.admission-request {background:url(../img/icon/admission-request.jpg) no-repeat 0 0;} 
	p.admission-talk {background:url(../img/icon/admission-talk.jpg) no-repeat 0 0;} 
	p.admission-cost {background:url(../img/icon/admission-costs.jpg) no-repeat 0 0;} 
	p.admission-scholarships {background:url(../img/icon/admission-scholarship.jpg) no-repeat 0 0;}
	
	
	
/*
==================================================================================================
4. research.html 
================================================================================================== 
*/	


	.vp {width:390px; margin-right:20px; float:left; position:relative;}
	.vp-quote {position:absolute;}
	.vp-quote p.quote {margin-left:165px; margin-right:20px; margin-top:26px; line-height:20px; color:#002a5c;}
	.vp-quote p.quote strong {font-size:20px; line-height:20px; font-family:Georgia, 'Times New Roman', Times, serif; color:#aaa;}
	.vp-quote p.signature {font-size:11px; line-height:15px; margin-left:210px; margin-right:20px;}
	.vp img {border:3px solid #fff;}
	
	#starter .research-news a {border-bottom:none;}
	#starter .research-news span, 
	#starter .researchLinks span {color:#f47321;}
	#starter .researchLinks form span {color:#002a5c;}
	
	.researchLinks select {margin-top:-6px;}

	.researchLinks ul.portal {}
	.researchLinks ul.portal li {margin-bottom:5px;}
	#starter .researchLinks ul.portal li a {border-bottom:none;}

/*
==================================================================================================
5. athletics.html
================================================================================================== 
*/	

	p.athletics-basketball,
	p.athletics-xCountry,
	p.athletics-golf,
	p.athletics-baseball,
	p.athletics-football,
	p.athletics-soccer,
	p.athletics-tennis,
	p.athletics-shoe,
	p.athletics-volleyball,
	p.athletics-dance {
		padding:0; margin:0;
		height:50px;
		line-height:50px;
		text-indent:55px;
		color:#aaa;}

	p.athletics-basketball {background:url(../img/icon/athletics-basketball.jpg) no-repeat 0 0;}
	p.athletics-xCountry {background:url(../img/icon/athletics-shoe.jpg) no-repeat 0 0;}
	p.athletics-golf {background:url(../img/icon/athletics-golf.jpg) no-repeat 0 0;}
	p.athletics-baseball {background:url(../img/icon/athletics-baseball.jpg) no-repeat 0 0;}
	p.athletics-football {background:url(../img/icon/athletics-football.jpg) no-repeat 0 0;}
	p.athletics-soccer {background:url(../img/icon/athletics-soccer.jpg) no-repeat 0 0;}
	p.athletics-tennis {background:url(../img/icon/athletics-tennis.jpg) no-repeat 0 0;}
	p.athletics-shoe {background:url(../img/icon/athletics-shoe.jpg) no-repeat 0 0;}
	p.athletics-volleyball  {background:url(../img/icon/athletics-volleyball.jpg) no-repeat 0 0;}
	p.athletics-dance  {background:url(../img/icon/athletics-dance.jpg) no-repeat 0 0;}
	
	
	.athletics-news h2 {margin-bottom:7px;}
	#starter .athletics-news ul li {padding-bottom:12px; color:#f47321;}
	#starter .athletics-news ul li a {border-bottom:none;}
	
	
/*
==================================================================================================
6. community.html
================================================================================================== 
*/	




/*
==================================================================================================
7. about.html
================================================================================================== 
*/	
	p.about-document {
		padding:0; margin:0;
		height:50px;
		line-height:50px;
		text-indent:55px;
		color:#aaa;
		background:url(../img/icon/about-strategy.jpg) no-repeat 0 0;}
		

/*
==================================================================================================
AUDIENCES
================================================================================================== 
*/	
	.audience {}
	
	.audience hr {margin:0 0 5px 0;}
	
	.audience .mod {margin-left:10px; margin-right:10px; margin-bottom:20px;}
	









/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }

/* Icons
----------------------------------*/
/* states and /img/ic/ui */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Component containers
----------------------------------*/
.ui-widget { font-family: Verdana,Arial,sans-serif; /*font-size: 1.1em;*/}
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(/img/icon/ui/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(/img/icon/ui/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
.ui-widget-header a { color: #222222; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #d3d3d3; 
	/*/////////// COLOR OF SELECT DROPDOWNS /////////// */
	background: #fff;
	/*background: #e6e6e6 url(/img/icon/ui/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;*/ 
	font-weight: normal; color: #555555; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #999999; 
	/*/////////// COLOR OF SELECT DROPDOWNS HOVER /////////// */
	background:#eaf4f7;
	color:#002a5c;
	/*background: #dadada url(/img/icon/ui/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;*/
	font-weight: normal; /*color: #212121;*/ outline: none; }
.ui-state-hover a, .ui-state-hover a:hover {
	color:#002a5c;
	/*color: #212121;*/ text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(/img/icon/ui/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #fcefa1; background: #fbf9ee url(/img/icon/ui/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(/img/icon/ui/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #cd0a0a; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

/* Icons
----------------------------------*/

/* states and /img/ic/ui */
.ui-icon { width: 16px; height: 16px; background-image: url(/img/icon/ui/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(/img/icon/ui/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(/img/icon/ui/ui-icons_222222_256x240.png); }
.ui-state-default .ui-icon { background-image: url(/img/icon/ui/ui-icons_888888_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(/img/icon/ui/ui-icons_454545_256x240.png); }
.ui-state-active .ui-icon {background-image: url(/img/icon/ui/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(/img/icon/ui/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(/img/icon/ui/ui-icons_cd0a0a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
.ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa url(/img/icon/ui/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(/img/icon/ui/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; }

/* Selectmenu ---------------------------------*/
.ui-selectmenu {
	display: block;
	position:relative;
	height:2em;
	text-decoration: none;
	overflow:hidden;}
	
.ui-selectmenu-icon {
	position:absolute;
	right:6px;
	margin-top:-8px;
	top: 50%;}
	
.ui-selectmenu-menu {
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	top: 0;
	visibility: hidden;
	/*overflow:auto;*/
	/*height:400px;		/*Things allows it to scroll and prevent unncessary space in footer */
	overflow:scroll;}
	
.ui-selectmenu-open {
	visibility: visible;}
	
.ui-selectmenu-menu-popup {
	margin-top: -1px;}
	
.ui-selectmenu-menu-dropdown { }

.ui-selectmenu-menu li {
	padding:0;
	margin:0;
	display: block;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-right-width: 0 !important;
	border-left-width: 0 !important;
	font-weight: normal !important;}
	
.ui-selectmenu-menu li a, .ui-selectmenu-status {
	line-height: 1.4em;
	display:block;
	padding:.3em 1em;
	outline:none;
	text-decoration:none;}
	
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a, .ui-selectmenu-hasIcon .ui-selectmenu-status {
	padding-left: 20px;
	position: relative;
	margin-left: 5px;}
	
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon {
	position: absolute;
	top: 1em;
	margin-top: -8px;
	left: 0;}
	
.ui-selectmenu-status {
	line-height: 1.4em;}
	
.ui-selectmenu-open li.ui-selectmenu-item-focus a { }
.ui-selectmenu-open li.ui-selectmenu-item-selected { }

.ui-selectmenu-menu li span, .ui-selectmenu-status span {
	display:block;
	margin-bottom: .2em;}
	
.ui-selectmenu-menu li .ui-selectmenu-item-header {
	font-weight: bold;}
	
.ui-selectmenu-menu li .ui-selectmenu-item-content { }

.ui-selectmenu-menu li .ui-selectmenu-item-footer {
	opacity: .8; }
	
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group {
	font-size: 1em;}
	
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label {
	line-height: 1.4em;
	display:block;
	padding:.6em .5em 0;
	font-weight: bold;}
	
.ui-selectmenu-menu .ui-selectmenu-group ul {
	margin: 0;
	padding: 0;}





