@charset "utf-8";
/* CSS Document */

#content, #content_1col {
	float: left;
	border: 1px solid #666;		
	background-color: #eaeaea;
	color:#666;		
}

#content
{
	width: 481px;
	border-width: 1px 0px 0px 1px;
	margin-left: 0px;
}

/* browser detection hack for IE 6.0 and below using child selecter command (html > body) which IE igonores. */
html > body #content { margin-left: 10px;}

#content_1col
{
	width:  737px;
	border-width: 1px 1px 0px 1px;
	margin-left: 0px;
}

/* browser detection hack for IE 6.0 and below using child selecter command (html > body) which IE igonores. */
html > body #content_1col { margin-left: 10px;}

#content *, #content_1col * {
	margin-left: 20px;
	margin-right: 14px;
}
			
#content * *, #content_1col * * 
{
	margin: 0; 
	padding: 0;
}
			
#content .uline, #content_1col .uline {
	/*border-bottom: 1px solid #333;*/
	padding:1em 0 1.25em 0;
	/*text-decoration:underline;
	width: 250px;*/
}

#content h1, #content_1col h1{font-size: 14px;  padding-top:1.00em;}
#content h2, #content_1col h2{font-size: 12px;}
#content h3, #content_1col h3{font-size: 11px;}
#content h4, #content_1col h4 {font-size: 10px;}

#content strong.subnav, #content_1col strong.subnav {
	font-weight: bold;
	color:#666;
	background-color: #eaeaea;
	text-decoration: none;
}

#content ul, #content_1col ul 
{
	/* use BOTH margin and padding for consistent indentation 
	rendering across standards-compliant browsers */
	margin-left: 10px;
	padding-left: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: block;
}
			
#content li, #content_1col li
{
	padding: 1px 0 0 14px;
	display: list-item;
	background: url(/images/skins/AltO.gif) no-repeat 1px 7px;
	list-style-position: outside;
	list-style-type: none;	
}
			
#content img, #content_1col img {
	margin: 8px 10px 8px 10px;
	border: 0;
}

#content .imgrt, #content_1col .imgrt
{
	float: right;
}
			
#content dl dt, #sidebar dl dt, #content_1col dl dt {
	margin-top: 5px;
	font-weight: bold;
 }

#content dl dd, #content_1col dl dd{
	margin-left: 15px;
	padding-left: 15px;
	margin-right: 15px;
}
			
#content img, #content_1col img
{padding: 5px;}

#content a, #content_1col a {
text-decoration: underline;
	color: #333333;

/*	text-decoration: none;
	border-bottom: 1px solid #e5cfcf;
	color:#cc6600;*/
	/*background-color: #eaeaea;*/
	font-weight: normal;
}

#content ul.nobold li a, #content_1col ul.nobold li a
{
	font-weight: normal;
}

#content a:hover, #content_1col a:hover {
	text-decoration:underline;
	color: #00C;
	background-color: #eaeaea;
}

/************* 3 column components ******************/
#leftContent 
{
	width: 241px;
	vertical-align: top;
	background-color: #eaeaea;
	color:#666;
	margin: 0;
	padding: 0;	
	border: 1px solid #666;
	border-width: 1px 0 0 1px;
	float: left;
}

/* browser detection hack for IE 6.0 and below using child selecter command (html > body) which IE igonores. */
html > body #leftContent { margin-left: 10px;}

#leftContent * 
{
	margin-left: 15px;
	margin-right: 10px;
	
}

#leftContent * *
{
	margin: 0; 
	padding: 0;
}

#leftContent a, #midContent a {
	text-decoration: none;
	color:#666;
	background-color: #eaeaea;
	
}
#leftContent a:hover, #midContent a:hover {
	text-decoration:underline;
	color: #00C;
	background-color: #eaeaea;
}

#leftContent h1, #midContent h1 {
	color:#666;
	background-color: #eaeaea;
	font-size: 11px;
}

#leftContent .uline
{
	border-bottom: 1px solid #333;
	padding:0 0 5px 0;
	width:200px;
}

#leftContent h2, h3, h4, #midContent h2, h3, h4 {color:#333333; background-color: #eaeaea;}

#leftContent h2, #midContent h2{
	/*font: bold 11px Verdana, Arial, Helvetica, sans-serif;*/
	font-size: 11px;
	font-weight: bold;
	color:#666;
	background-color: #eaeaea;
	text-decoration: none;
	
}

#leftContent h3, #midContent h3 {font-size: 9px;}

#leftContent h4, #midContent h4 {font-size: 9px;}

#leftContent p,  #midContent p { margin-right:10px;}



#leftContent ul, #midContent ul 
{
	/* use BOTH margin and padding for consistent indentation 
	rendering across standards-compliant browsers */
	margin-left: 10px;
	padding-left: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: block;
}

#leftContent li, #midContent li
{
	padding: 1px 0 0 14px;
	display: list-item;
	background: url(../../VPAIE/assessment/style/Images/skins/AltO.gif) no-repeat 1px 7px;
	list-style-position: outside;
	list-style-type: none;	
}

#leftContent .image, #midContent .image {
	margin: 8px 10px 8px 10px;
}

#leftContent dl, #midContent dl {
	padding: 0;
	margin: 0;
}

#leftContent dl dt, #midContent dl dt {
	margin:2px 0 0 20px;
	padding:1px 0 0 0;
	font-weight: bold;
 }
	
#leftContent dl dd, #midContent dl dd  {
	margin: 2px 0 0 50px;
	padding: 1px 0 0 0; }


#midContent
{
	width: 240px;
	vertical-align: top;
	background-color: #eaeaea;
	color:#666;
	margin: 0;
	border: 1px solid #666;
	border-width: 1px 0 0 0;
	float: left;	
}	

#midContent * 
{
	margin-left: 15px;
	margin-right: 10px;
}	

#midContent * *
{
	margin: 0; 
	padding: 0;
}

#midContent .uline
{
	border-bottom: 1px solid #333;
	padding:0 0 5px 0;
	width:200px;
}
