#footer {
	vertical-align: top;
	background-color: #036;
	color: #fff;
	border: 1px solid #666;
	border-width: 0 1px 0px 1px;
	font-size: 9px;
	text-align:center;
	/*margin: 0 10px 0 10px;*/
	padding: 10px;
	clear: both;
}


/* browser detection hack for IE 6.0 and below using child selecter command (html > body) which IE igonores. */
html > body #footer {margin: 0 10px 0 10px;}

#footer a {
	text-decoration:none; 
	color:#fff; 
	background-color: #036;
}

#footer a:hover {
	text-decoration:underline; 
	color:#39F;
	background-color: #036; 
}

#footer strong { font-weight: bold; }

#footer em {font-style:italic;}

#footer ul {
	padding: 0px 5px 5px 5px;
	margin: 0; 
	border: 0;
}

#footer p {
	font-weight: bold; 
	display: inline; 
}

#footer ul li {
	display:inline;
	padding-left: 15px;
	padding-right: 15px;
	
}
/************* credit components****************/		
#credit {
	text-align:center;
	background-color: transparent;
	color:#666;
	font-size: 9px;
	padding: 0px 0px 0px 0px;
	border-width: 0px 0 0 0;	
}

/* browser detection hack for IE 6.0 and below using child selecter command (html > body) which IE ignores. */
html > body #credit { background: url(../../VPAIE/assessment/images/drop_shadow_footer.png) no-repeat center; margin-top: -9px;
	margin-left: -1px;}

#credit a { 
	text-decoration:none; 
	color:#666;
	background-color: transparent;
}

#credit a:hover {
	text-decoration:underline; 
	color:#39f; 
	background-color: transparent;
}
