/* hides 'skip to...' links */
.h a{ 	
	background-color: #020933; 
	color: #020933;	
	margin-left: -500px;
} 

#topShadow
{
	margin: 0 10px -3px 10px;
	width: 759px;
	margin-left: auto;
	margin-right:auto;	
}

/* browser detection hack for IE 6.0 and below using child selecter command (html > body) which IE igonores. */
html > body #topShadow { background: url(../../VPAIE/assessment/images/drop_shadow_header.png);}

#banner1{
	background-color: #036;	 
	color:#fff; 
	padding-bottom: 0; 
	border: 1px solid #666;
	border-width: 1px 1px 0 1px;
	width: 737px;
	height: 56px;		  
}

/* browser detection hack for IE 6.0 and below using child selecter command (html > body) which IE igonores. */
html > body #banner1 { margin: 0 10px 0 10px; border-width: 0px 1px 0 1px;}

				
#banner1 a 
{
	text-decoration:none; 
	color:#fff; 
	background-color: #036;
}

#banner1 a:hover { 
	text-decoration:underline; 
	color:#39F; 
	background-color: #036;
}    
    
/********************************** UTSA banner1 images *******************************/
#banner1 img{ 
	width: 343px; 
	height: 56px;
	float: left; 
	border: none;
}
/********************************* banner navigation components **************************/
#banner1nav
{
	font-weight: bold;
	font-size: 9px;
	color:#fff;
	background-color: #036;
	text-align: right;
	padding: 0; 
	margin: 0; 
	border: 0; 
	background-image: none;
}

#banner1nav li {
	padding-right: 8px; 
	display: inline;
}

/********************************* banner2 components ****************************/
#banner2 {
	background-color: #000831; color:#FFF;
	height: 26px;
	width: 737px;
}
	
#banner2, #banner3{
	border: 1px solid #666;
	border-width: 0 1px 0 1px;
	
}

/* browser detection hack for IE 6.0 and below using child selecter command (html > body) which IE igonores. */
html > body #banner2, #banner3 { margin: 0 10px 0 10px;}

/********************************* banner3 components ****************************/
#banner3Office{
	height: 31px;
	
	background-color:#C60; 		
	color: #FFF;
	font-weight:bold;
	padding: 2px 0 0 20px;	
	font-size:1.4em;
}

#banner3Office *{
	margin: 3px 0 0 0;
	padding: 0 0 0 0;
}

#banner3 img, #banner3_3col img {
	width: 737px; 
	height: 134px;
	vertical-align: top;
}

/* browser detection hack for IE 6.0 and below using child selecter command (html > body) which IE igonores. */
html > body #banner3_3col { margin: 0 10px 0 11px; border-width: 0px 1px 0 1px;}

/******************* google search box styles ****************/
#search{
	margin-left: 50px; 
	margin-top: -20px;
	width:250px;
	float:right;
}

form {
	margin:0px;
}

.style {
	font-weight:bold;
	font-size: 12px;
	color:#000;
	background-color: #C60;
}

/********************************* main navigation components ****************************/
#mainnav {
	color: #fff;
	background-color: #000831;
	text-align: center;
	margin: 0; 
	border: 0;
	padding: 5px 0 5px 0; /* padding order: top right bottom left */
}

#mainnav li {
	display: inline;
	padding: 0 15px 0 15px; /* padding order: top right bottom left */
}

#mainnav a {
	text-decoration: none; 
	color: #fff; 
	background-color: #000831;
}

#mainnav a:hover {
	text-decoration:underline; 
	color:#39F; 
	background-color: #000831;
}