@charset "utf-8";
/* CSS Document */
@import url(content.css);
@import url(table.css);
@import url(sidebar.css); 

* {
	margin: 0;
  	padding: 0;
}

body {
	margin-top: 0px;
	padding: 0;  
	background: url(../../VPAIE/assessment/images/skins/bkgrnd.jpg) repeat-x;
	font: 11px/16px Verdana, Arial, Helvetica, sans-serif;
}

#wrapper, #wrapper_1col{	
	width: 739px;
	margin-left: auto;
	margin-right:auto;
	                    
}

#wrapper
{background: url(../../VPAIE/assessment/images/2col_background.gif) repeat;	}

#wrapper_1col
{background: url(../../VPAIE/assessment/images/1col_background.gif) repeat;}


/* browser detection hack for IE 6.0 and below using child selecter command (html > body) which IE igonores. */
html > body #wrapper{ background: url(../../VPAIE/assessment/images/drop_shadow_content.png) repeat; width: 759px; }

/* browser detection hack for IE 6.0 and below using child selecter command (html > body) which IE igonores. */
html > body #wrapper_1col { background: url(../../VPAIE/assessment/images/drop_shadow_content_1col.png) repeat; width: 759px; }