@charset "utf-8";
/* CSS Document 
*/
body {
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
	background:white;
}

#banner1, #banner2, #banner3, #search, #sidebar, #footer, #credit {
	display: none;
	}
/*#wrapper, #wrapper_1col{	
	margin-left: auto;
	margin-right:auto;
}*/

#wrapper, #content {
	width: auto; 
	margin: 0 5%;
	padding: 0; 
	border: 0;
	float: none !important;
	color: black; 
	background: transparent;
	}
#content h1 {font: 12pt Verdana, Arial, Helvetica, sans-serif;
padding-top: 2em;}	
	
a:link, a:visited {
	color: #520;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
	}
#content a:link:after, #content a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
   }
 /*  #content a[href^="/"]:after {
  content: " (http://www.utsa.edu" attr(href) ") ";
   }*/
   div#content {
	margin-left: 5%;
	padding-top: 1em;
	border-top: 1px solid #930;
	}