@charset "utf-8";
/* CSS Document */
	         
#sidebar
{
	vertical-align: top; 
	width: 256px;				
	color: #000;				
	background-color: #996;
	border: 1px solid #666;
	border-width: 1px 1px 0 0;						
	float:right;
}

/* browser detection hack for IE 6.0 and below using child selecter command (html > body) which IE igonores. */
html > body #sidebar {margin: 0 10px 0 0 ;}

#sidebar h1, h2, h3, h4, p {
	margin: 15px 10px;
}

#sidebar a {
	text-decoration:none; 
	color:#000; 
	background-color: #996;
}

#sidebar h1 { font-size: 14px;}

#sidebar h2{
	color:#000;
	background-color: #996;
	font-size: 12px;
	border-bottom: 1px solid #333;
	padding:0 0 5px 0;
	width:200px;
}
			
#sidebar h3 {font-size: 12px;}
#sidebar h4 {font-size: 11px;}


#sidebar a:hover {
	text-decoration:underline; 
	color:#fff; 
	background-color: #996;
}

/*************search box components****************/
/*
form {
	margin:0px;
}

.search {
	background-color:#C60; 
	color:#000; 
	padding: 5px 5px 5px 5px;
 }

.style {
	font-weight:bold;
	font-size: 12px;
	color:#000;
	background-color: #C60;
}
*/			
.search_3col {
	background-color:#CC6600; color:#000; padding: 5px 5px 5px 5px; }
/*************secondarynav main Components****************/			
#secondarynav {
	margin: 0;
	padding: 0;
	display: block;
}

#secondarynav .navhead{
	color:#333; 
	background-color: #996;
	font-weight: bold;
	border-bottom: 1px solid #333;
	padding:0 0 2px 0;
	width:200px;
}

#secondarynav h4 {color:#333; background-color: #996;}

#secondarynav strong.subnav {
	font-weight: bold;
	color: #777;
	background-color: #996;
	text-decoration: none;
	font-style: italic;
}
		
#secondarynav ul 
{
	margin-left: 10px;
	padding-left: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: block;
}

#secondarynav li
{
	padding: 1px 0 0 14px;
	display: list-item;
	background: url(http://www.utsa.edu/images/skins/AltB.gif) no-repeat 1px 7px;
	list-style-position: outside;
	list-style-type: none;	
}
		
#secondarynav .image {margin: 8px 10px 8px 10px;}    

