@charset "utf-8";
/* CSS Document */
#content table, #content td, #content th, #content_1col table, #content_1col td, #content_1col th
{
	border: 1px solid #000;
	padding: 4px;
	border-collapse:collapse; /*removes cellspacing */
}
			
#content table th, #content_1col table th
{
	background-color: #036; 
	color: #fff;
}

#content table td, #content table td a, #content_1col table td, #content_1col table td a
{
	background-color: #fff; 
	color: #000;
}
#content table td a:hover, #content_1col table td a:hover {
	text-decoration:underline;
	color: #00C;
	background-color: #fff;
}
