html { height: 100% }

/* hides 'skip to...' links */
.h a{ 	
	background-color: #020933; 
	color: #020933;	
	margin-left: -500px;
} 

body {
	margin-top: 0px;
	padding: 0;  
	background: #fff url(../images/bkgrnd.jpg) repeat-x;
	font: 11px/16px Verdana, Arial, Helvetica, sans-serif;
 }
 
/* for Netscape 4.x browsers */
p, td, ol, ul, li, dl, dt, dd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/********************************* bodytable code *****************************************/
#bodytable
{
	width: 739px;
	vertical-align: top;
	border-collapse: collapse; /* removes spaces that appear between cells */
}
/********************************* banner1 components ************************************/
#banner1 
{
	background-color: #036; 
	color:#fff; 
	padding-bottom: 0; 
	margin: 0px;
	border: 1px solid #666;
	border-width: 1px 1px 0 1px;
}

#banner1 a 
{
	text-decoration:none; 
	color:#fff; 
	background-color: #036;
}

#banner1 a:hover { 
	text-decoration:underline; 
	color:#39F; 
	background-color: #036;
}

#banner1 ul { 
	padding: 0; 
	margin: 0; 
	border: 0; 
	background-image: none; 
}

#banner1 ul li { 
	padding-right:8px; 
	display:inline; 
}

/********************************** UTSA banner1 images *******************************/
#banner1 img{ 
	width: 343px; 
	height: 56px;
	float: left; 
	border: none;
}

/********************************* banner navigation components **************************/
#banner1nav
{
	font-weight: bold;
	font-size: 16px;
	color:#fff;
	background-color: #036;
	text-align: left;
	padding: 0; 
	margin: 0; 
	border: 0; 
	background-image: none;
}

#banner1nav li {
	padding-right: 8px; 
	display: inline;
}

/********************************* banner2 components ****************************/
#banner2 {
	background-color: #000831; color:#FFF;
}

#banner2, #banner3{
	border: 1px solid #666;
	border-width: 0 1px 0 1px;
}
/********************************* main navigation components ****************************/
#mainnav {
	color: #fff;
	background-color: #000831;
	text-align: center;
	margin: 0; 
	border: 0;
	padding: 5px 0 5px 0; /* padding order: top right bottom left */
}

#mainnav li {
	display: inline;
	padding: 0 15px 0 15px; /* padding order: top right bottom left */
}

#mainnav a {
	text-decoration: none; 
	color: #fff; 
	background-color: #000831;
}

#mainnav a:hover {
	text-decoration:underline; 
	color:#39F; 
	background-color: #000831;
}

/********************************* banner3 components ****************************/
#banner3 img {
	width: 739px; 
	height: 80px;
	vertical-align: top;
}

/************* content components****************/
#content
{
	width: 700px;
	vertical-align: top;
	background-color: #eaeaea;
	color:#666;
	margin: 0;	
	/*padding: 0;*/
	padding-bottom: 15px;
	border: 1px solid #666;
	border-width: 0 1px 0 1px;
}

#content *
{
	margin-left: 20px;
	margin-right: 14px;
	
}

#content * *
{
	margin: 0; 
	padding: 0;
}

#content .uline {
	border-bottom: 1px solid #333;
	padding:10px 0 5px 0;
	width: 300px;
}

#content h1 {font-size: 14px;}
#content h2 {font-size: 12px;}
#content h3 {font-size: 11px;}
#content h4 {font-size: 10px;}

#content strong.subnav {
	font-weight: bold;
	color:#666;
	background-color: #eaeaea;
	text-decoration: none;
}

#content ul 
{
	/* use BOTH margin and padding for consistent indentation 
	rendering across standards-compliant browsers */
	margin-left: 10px;
	padding-left: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: block;
}

#content li
{
	padding: 1px 0 0 14px;
	display: list-item;
	/* background: url(http://cymru.utsa.edu/HP2007/Images/skins/AltO.gif) no-repeat 1px 7px; */
	list-style-position: outside;
	list-style-type: none;	
}

#content img {
	margin: 8px 10px 8px 10px;
	border: 0;
}

#content .imgrt
{
	float: right;
}

#content dl dt, #sidebar dl dt{
	margin-top: 5px;
	font-weight: bold;
 }

#content dl dd{
	margin-left: 15px;
	padding-left: 15px;
	margin-right: 15px;
}

#content img
{padding: 5px;}

#content a {
	text-decoration: none;
	color:#666;
	background-color: #eaeaea;
	font-weight: bold;
}

#content ul.nobold li a
{
	font-weight: normal;
}

#content a:hover {
	text-decoration:underline;
	color: #00C;
	background-color: #eaeaea;
}

#content table, #content td, #content th
{
	border: 0px solid #000;
	padding: 4px;
	border-collapse:collapse; /*removes cellspacing */
}

#content table th
{
	background-color: #036; 
	color: #fff;
}

#content table td, #content table td a
{
	background-color: #fff; 
	color: #000;
}
#content table td a:hover {
	text-decoration:underline;
	color: #00C;
	background-color: #fff;
}

/*************** sidebar components ****************/
#sidebar
{
	vertical-align: top; 
	width: 258px;
	color: #000;
	background-color: #996;
	margin: 0;
	border: 1px solid #666;
	border-width: 0 1px 0 0; 
}

#sidebar h1, h2, h3, h4, p {
	margin: 15px 10px;
}

#sidebar a {
	text-decoration:none; 
	color:#000; 
	background-color: #996;
}

#sidebar a:hover {
	text-decoration:underline; 
	color:#fff; 
	background-color: #996;
}

#sidebar h1 { font-size: 14px;}

#sidebar h2{
	color:#000;
	background-color: #996;
	font-size: 12px;
	border-bottom: 1px solid #333;
	padding:0 0 5px 0;
	width:200px;
}

#sidebar h3 {font-size: 12px;}
#sidebar h4 {font-size: 11px;}

/*************search box components****************/
form {
	margin:0px;
}

.search {
	background-color:#C60; 
	color:#000; 
	padding: 5px 5px 5px 5px;
 }

.style {
	font-weight:bold;
	font-size: 12px;
	color:#000;
	background-color: #C60;
}

/*************secondarynav main Components****************/			
#secondarynav {
	margin: 0;
	padding: 0;
	display: block;
}

#secondarynav .navhead{
	color:#333; 
	background-color: #996;
	font-weight: bold;
	border-bottom: 1px solid #333;
	padding:0 0 2px 0;
	width:200px;
}

#secondarynav h4 {color:#333; background-color: #996;}

#secondarynav strong.subnav {
	font-weight: bold;
	color: #777;
	background-color: #996;
	text-decoration: none;
	font-style: italic;
}

#secondarynav ul 
{
	margin-left: 10px;
	padding-left: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: block;
}

#secondarynav li
{
	padding: 1px 0 0 14px;
	display: list-item;
	background: url(http://cymru.utsa.edu/HP2007/Images/skins/AltB.gif) no-repeat 1px 7px;
	list-style-position: outside;
	list-style-type: none;	
}

#secondarynav .image {margin: 8px 10px 8px 10px; }

/************* footer components ****************/		
#footer {
	vertical-align: top;
	background-color: #036; 
	color: #fff;
	border: 1px solid #666;
	border-width: 0 1px 1px 1px;
	font-size: 9px;
	text-align:center;
	margin: 0;
	padding: 10px;
}

#footer a {
	text-decoration:none; 
	color:#fff; 
	background-color: #036;
}

#footer a:hover {
	text-decoration:underline; 
	color:#39F;
	background-color: #036; 
}

#footer strong { font-weight: bold; }

#footer em {font-style:italic;}

#footer ul {
	padding: 0px 5px 5px 5px;
	margin: 0; 
	border: 0;
}

#footer p {
	font-weight: bold; 
	display: inline; 
}

#footer ul li {
	display:inline;
	padding-left: 15px;
	padding-right: 15px;
	
}

/************* credit components****************/		
#credit {
	text-align:center;
	background-color: transparent;
	color:#666;
	font-size: 9px;
	padding: 2px;
	border-width: 1px 0 0 0;
	
}

#credit a { 
	text-decoration:none; 
	color:#666;
	background-color: transparent;
}

#credit a:hover {
	text-decoration:underline; 
	color:#39f; 
	background-color: transparent;
}
