<div id="topBar" class="clearfix"> 
	<div class="brand">
        <ul class="logo"><li><a href="/"><span>The University of Texas at San Antonio</span></a></li></ul>
    </div>      
    <div class="utility clearfix">
            <div class="utility-menu">
            <ul>
            <li><a class="children" href="http://my.utsa.edu/">myUTSA</a>
                	<ul class="audience">
                        <li><a href="http://asap.utsa.edu/"><span style="color:#f47321;">&raquo;</span> ASAP</a></li>
                        <li><a href="http://bb.utsa.edu/"><span style="color:#f47321;">&raquo;</span> Blackboard</a></li>
                        <li><a href="http://email.utsa.edu/"><span style="color:#f47321;">&raquo;</span> Staff Webmail</a></li>
                        <li style="padding-bottom:5px;"><a href="http://lib.utsa.edu/"><span style="color:#f47321;">&raquo;</span> Libraries</a></li>
                    </ul>
            </li>
            <li><a class="children" href="/info/index.html">Info For</a>
                    <ul class="audience">
                        <li><a href="/info/students.html"><span style="color:#f47321;">&raquo;</span> Students</a></li>
                        <li><a href="/info/faculty.html"><span style="color:#f47321;">&raquo;</span> Faculty</a></li>
                        <li><a href="/info/employees.html"><span style="color:#f47321;">&raquo;</span> Staff</a></li>
                        <li><a href="/info/parents.html"><span style="color:#f47321;">&raquo;</span> Parents</a></li>
                        <li style="padding-bottom:5px;"><a href="/info/visitors.html"><span style="color:#f47321;">&raquo;</span> Visitors</a></li>
                    </ul>
            </li>
            <li><a class="children" href="/maps/">Maps</a>
                	<ul class="audience">
                        <li><a href="/maps/main-map.html"><span style="color:#f47321;">&raquo;</span> Main</a></li>
                        <li><a href="/maps/dt-map.html"><span style="color:#f47321;">&raquo;</span> Downtown</a></li>
                        <li style="padding-bottom:5px;"><a href="/maps/hemisfair-map.html"><span style="color:#f47321;">&raquo;</span> Hemisfair Park</a></li>
                    </ul>
            </li>
            <li><a href="/directory/">Directory</a></li>
            <li><a href="http://utsa.edu/calendar/">Calendar</a></li>
            <li><a href="/about/index.html">About UTSA</a></li>
            <li class="search"><a name="acces-search" class="screen-reader"></a>
                <form id="cse-search-box" action="/search/searchresults.html">
                <input type="hidden" name="cx" value="000238266656426684962:mzli4pte7ko" /> 
                <input type="hidden" name="cof" value="FORID:11" /> 
                <span style="display:none;"><label for="q">Search</label></span>
                <input class="searchfield" name="q" id="q" type="text" size="15" value="Search UTSA" onfocus="if (this.value == 'Search UTSA') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search UTSA';}" />
                <input class="searchbutton" type="image" src="/img/icon/icon-search.jpg" name="sa" value="search" alt="search"/>
                </form>
            </li>
            </ul>
            </div>
    </div>
          
</div><!-- end topBar -->

<a name="acces-nav" class="screen-reader"></a>
<div id="globalNav" class="clearfix">
    <ul class="nav">
    <li class="floatL"><a class="nav-admissions" href="/admissions/index.html">Admissions</a></li>
    <li class="floatL"><a class="nav-academics" href="/academics/index.html">Academics</a></li>
    <li class="floatL"><a class="nav-research" href="http://research.utsa.edu/">Research</a></li>
    <li class="floatL"><a class="nav-athletics" href="/athletics/index.html">Athletics</a></li>
    <li class="floatL"><a class="nav-campus" href="/campuslife/index.html">Campus Life</a></li>
    <li class="floatL"><a class="nav-community" href="/community/index.html">Community</a></li>
    <li class="floatL"><a class="nav-alumni" href="http://alumni.utsa.edu/">Alumni</a></li>
    <li class="floatL"><a class="nav-giving" href="http://giving.utsa.edu/">Giving</a></li>
    </ul>
</div><!--end globalNav -->
        



