<div id="branding-blue">
<div id="topBar" class="clearfix"> 
	<div class="brand">
        <ul class="logo-small"><li><a href="http://utsa.edu/index.html"><span>The University of Texas at San Antonio</span></a></li></ul>
    </div>      
    <div class="utility clearfix">
            <div class="utility-menu">
            <ul>
            <li><a class="children" href="http://utsa.edu/home/myutsa/">myUTSA</a>
                	<ul class="audience">
                        <li><a href="http://asap.utsa.edu/"><span style="color:#f47321;">&raquo;</span>ASAP</a></li>
                        <li><a href="http://bb.utsa.edu/"><span style="color:#f47321;">&raquo;</span>Blackboard</a></li>
                        <li><a href="http://email.utsa.edu/"><span style="color:#f47321;">&raquo;</span>Staff Webmail</a></li>
                        <li style="padding-bottom:5px;"><a href="http://lib.utsa.edu/"><span style="color:#f47321;">&raquo;</span>Libraries</a></li>
                    </ul>
            </li>
            <li><a class="children" href="http://utsa.edu/info/">Info For</a>
                    <ul class="audience">
                        <li><a href="http://utsa.edu/info/students.html"><span style="color:#f47321;">&raquo;</span>Students</a></li>
                        <li><a href="http://utsa.edu/info/faculty.html"><span style="color:#f47321;">&raquo;</span> Faculty</a></li>
                        <li><a href="http://utsa.edu/info/employees.html"><span style="color:#f47321;">&raquo;</span>Staff</a></li>
                        <li><a href="http://alumni.utsa.edu/"><span style="color:#f47321;">&raquo;</span>Alumni</a></li>
                        <li style="padding-bottom:5px;"><a href="http://utsa.edu/visitor.html"><span style="color:#f47321;">&raquo;</span>Visitors</a></li>
                    </ul>
            </li>
            <li><a class="children" href="http://utsa.edu/maps/">Maps</a>
                	<ul class="audience">
                        <li><a href="http://utsa.edu/maps/1604/"><span style="color:#f47321;">&raquo;</span>Main</a></li>
                        <li><a href="http://utsa.edu/maps/downtown/"><span style="color:#f47321;">&raquo;</span>Downtown</a></li>
                        <li style="padding-bottom:5px;"><a href="http://utsa.edu/maps/itc/"><span style="color:#f47321;">&raquo;</span>Hemisfair Park</a></li>
                    </ul>
            </li>
            <li><a href="http://utsa.edu/directory/">Directory</a></li>
            <li><a href="http://utsa.edu/calendar/">Calendar</a></li>
            <li><a href="http://utsa.edu/about/index.html">About UTSA</a></li>
            <li class="search">
                <form id="cse-search-box" action="http://utsa.edu/search/searchresults.html">
                <input type="hidden" name="cx" value="000238266656426684962:mzli4pte7ko" /> 
                <input type="hidden" name="cof" value="FORID:11" /> 
                <input class="searchfield" name="q" id="q" type="text" size="15" value="Search UTSA" onfocus="if (this.value == 'Search UTSA') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search UTSA';}" />
                <input class="searchbutton" type="image" src="http://utsa.edu/img/icon/icon-search.jpg" name="sa" value="search" />
                </form>
            </li>
            </ul>
            </div>
    </div>
          
</div><!-- end topBar -->

</div><!-- end branding -->

