<div id="topBar" class="clearfix"> 
	<div class="brand">
        <ul class="logo"><li><a href="http://utsa.edu/"><span>The University of Texas at San Antonio</span></a></li></ul>
    </div>      
    <div class="utility clearfix">
            <div class="utility-menu">
            <ul>
            <li><a class="children" href="http://my.utsa.edu/">myUTSA</a>
                	<ul class="audience">
                        <li><a href="http://asap.utsa.edu/"><span style="color:#f47321;">&raquo;</span> ASAP</a></li>
                        <li><a href="http://bb.utsa.edu/"><span style="color:#f47321;">&raquo;</span> Blackboard</a></li>
                        <li><a href="http://email.utsa.edu/"><span style="color:#f47321;">&raquo;</span> Staff Webmail</a></li>
                        <li style="padding-bottom:5px;"><a href="http://lib.utsa.edu/"><span style="color:#f47321;">&raquo;</span> Libraries</a></li>
                    </ul>
            </li>
            <li><a class="children" href="http://utsa.edu/info/index.html">Info For</a>
                    <ul class="audience">
                        <li><a href="http://utsa.edu/info/students.html"><span style="color:#f47321;">&raquo;</span> Students</a></li>
                        <li><a href="http://utsa.edu/info/faculty.html"><span style="color:#f47321;">&raquo;</span> Faculty</a></li>
                        <li><a href="http://utsa.edu/info/employees.html"><span style="color:#f47321;">&raquo;</span> Staff</a></li>
                        <li><a href="http://utsa.edu/info/parents.html"><span style="color:#f47321;">&raquo;</span> Parents</a></li>
                        <li style="padding-bottom:5px;"><a href="http://utsa.edu/info/visitors.html"><span style="color:#f47321;">&raquo;</span> Visitors</a></li>
                    </ul>
            </li>
            <li><a class="children" href="http://utsa.edu/maps/">Locations</a>
                	<ul class="audience">
                        <li><a href="http://utsa.edu/maps/main-map.html"><span style="color:#f47321;">&raquo;</span> Main</a></li>
                        <li><a href="http://utsa.edu/maps/dt-map.html"><span style="color:#f47321;">&raquo;</span> Downtown</a></li>
                        <li style="padding-bottom:5px;"><a href="http://utsa.edu/maps/hemisfair-map.html"><span style="color:#f47321;">&raquo;</span> Hemisfair Park</a></li>
                    </ul>
            </li>
            <li><a href="http://utsa.edu/directory/">Directory</a></li>
            <li><a href="http://utsa.edu/calendar/">Calendar</a></li>
            <li><a href="http://utsa.edu/about/index.html">About UTSA</a></li>
            <li class="search"><a name="acces-search" class="screen-reader"></a>
                <form id="cse-search-box" action="http://utsa.edu/search/searchresults.html">
                <input type="hidden" name="cx" value="000238266656426684962:mzli4pte7ko" /> 
                <input type="hidden" name="cof" value="FORID:11" /> 
                <span style="display:none;"><label for="q">Search</label></span>
                <input class="searchfield" name="q" id="q" type="text" size="15" value="Search UTSA" onfocus="if (this.value == 'Search UTSA') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search UTSA';}" />
                <input class="searchbutton" type="image" src="http://utsa.edu/img/icon/icon-search.jpg" name="sa" value="search" alt="search"/>
                </form>
            </li>
            </ul>
            </div>
    </div>
          
</div><!-- end topBar -->

<a name="acces-nav" class="screen-reader"></a>
<div id="globalNav" class="clearfix">
    <ul class="nav">
    <li class="floatL"><a class="nav-admissions" href="http://utsa.edu/admissions/index.html">Admissions</a></li>
    <li class="floatL"><a class="nav-academics" href="http://utsa.edu/academics/index.html">Academics</a></li>
    <li class="floatL"><a class="nav-research" href="http://research.utsa.edu/">Research</a></li>
    <li class="floatL"><a class="nav-athletics" href="http://utsa.edu/athletics/index.html">Athletics</a></li>
    <li class="floatL"><a class="nav-campus" href="http://utsa.edu/campuslife/index.html">Campus Life</a></li>
    <li class="floatL"><a class="nav-community" href="http://utsa.edu/community/index.html">Community</a></li>
    <li class="floatL"><a class="nav-alumni" href="http://alumni.utsa.edu/">Alumni</a></li>
    <li class="floatL"><a class="nav-giving" href="http://giving.utsa.edu/">Giving</a></li>
    </ul>
</div><!--end globalNav -->


<!--<div style="width:1000px; margin:0 auto; background-color:#990000; margin-bottom:20px;">
  <div class="emergency" style="background-color:#990000; cursor:pointer; border:5px #fff solid; padding:16px; margin-top:12px; 
  margin-bottom:12px; color:#fff; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:200%; line-height:29px;">
    UPDATE: UTSA is closed ALL DAY Friday, Feb. 4.<Br/>
    <span style="font-size:70%;">
    This includes all classes, programs, events, and offices. Visit <a href="http://alerts.utsa.edu/" style="color:#fff; text-decoration:underline;">alerts.utsa.edu</a> for the most up to date information.</span>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){$('.emergency').click(function(){ window.location = $(this).find('a').attr('href'); }) });
</script>
-->
    



