	<div id="copyright" class="clearfix">	
  		<div class="floatL">
        <ul class="footer-utility">
        	<li><a href="http://utsa.edu/sitemap/">Sitemap</a></li>
            <li><a href="http://utsa.edu/maps/">Campus Maps</a></li>
            <li><a href="http://utsa.edu/job.html">Jobs</a></li>
            <li><a href="http://alerts.utsa.edu/">Campus Alerts</a></li>
            <li><a href="http://utsa.edu/policies/">Policies</a></li>
            <li><a href="http://utsa.edu/openrecords/">Open Records</a></li>
            <li><a href="http://utsa.edu/acrs/Compliance/comply_hotline.htm">Report Fraud</a></li>
            <li><a href="http://utsa.edu/policies/reqlinks.html">Required Links</a></li>
            <li><a href="http://utsa.edu/identity/">Identity</a></li>
            <li><a href="http://www.utsystem.edu/">UT System</a></li>
            <li><a href="http://utsa.edu/directory/contact/">Contact Us</a></li>
        </ul> 
        <p class="footer-copyright"><a href="http://utsa.edu/">&copy; The University of Texas at San Antonio</a> | One UTSA Circle, San Antonio TX 78249 | Information: 210-458-4011 | UTSA Police: 210-458-4242</p>
        </div>
        
        <a class="footer-logo" href="http://utsa.edu/">UTSA</a>   
             
	</div><!-- end copyright -->