<div id="expanded-footer" class="clearfix">
    	<ul class="footer-future">
            <li class="audience-footer-label"><a href="http://utsa.edu/admissions/">Future Students</a></li>
        	<li><a href="http://utsa.edu/we/">Apply to UTSA</a></li>
            <li><a href="http://utsa.edu/financialaid/">Financial Aid</a></li>
            <li><a href="http://utsa.edu/academics/academic-departments.html">Colleges + Programs</a></li>
            <li><a href="http://bluebook.utsa.edu/">Bluebook: Course Info Online</a></li>
            <li><a href="http://utsa.edu/visitor/">Campus Tours</a></li>
            <li><a href="http://utsa.edu/maps/">Campus Maps</a></li>
            <li><a href="http://utsa.edu/campuslife/">Campus Life</a></li>
        </ul>
		
        <ul class="footer-current">
            <li class="audience-footer-label"><a href="http://utsa.edu/info/students.html">Current Students</a></li>
            <li><a href="http://asap.utsa.edu/">ASAP</a> / <a href="http://bb.utsa.edu/">Blackboard</a></li>
            <li><a href="http://bluebook.utsa.edu/">Bluebook: Course Info Online</a></li>
            <li><a href="http://utsa.edu/calendar/index.cfm?calendar=academic">Academic Calendar</a></li>
            <li><a href="http://utsa.edu/fiscalservices/">Fiscal Services</a></li>
            <li><a href="http://lib.utsa.edu/">Libraries</a></li>
            <li><a href="http://utsa.bkstr.com/">Bookstore</a></li>
            <li><a href="http://utsa.edu/careercenter/">Career Services</a></li>
		</ul>
        
        <ul class="footer-employee">
            <li class="audience-footer-label"><a href="http://utsa.edu/info/employees.html">Faculty / Staff</a></li>
            <li><a href="http://utsa.edu/hr/">Human Resources</a></li>
            <li><a href="http://email.utsa.edu/">Webmail</a></li>
            <li><a href="https://utdirect.utexas.edu/">UT Direct</a></li>
            <li><a href="http://utsa.edu/today/">UTSA Today</a></li>
            <li><a href="http://utsa.edu/calendar/">UTSA Calendar</a></li>
            <li><a href="http://utsa.edu/directory/">Directory</a></li>
            <li><a href="http://utsa.edu/oit/">IT Support</a></li>           
        </ul>
        
        <ul class="footer-visitor">
            <li class="audience-footer-label"><a href="http://utsa.edu/info/visitors.html">Visitors / Parents</a></li>
            <li><a href="http://utsa.edu/visitor/">Visitor Center</a></li>
            <li><a href="http://utsa.edu/maps/">Campus Maps</a></li>
            <li><a href="http://utsa.edu/family/">Family Association</a></li>
            <li><a href="http://utsa.edu/auxiliary/visitor.html">Parking</a></li>
            <li><a href="http://utsa.edu/fiscalservices/">Fiscal Services</a></li>
            <li><a href="http://utsa.edu/today/">UTSA Today</a></li>
            <li><a href="http://utsa.edu/about/">About UTSA</a></li>
        </ul>
        
        <ul class="footer-alumni">
            <li class="audience-footer-label"><a href="http://alumni.utsa.edu/">Alumni</a></li>
            <li><a href="http://alumni.utsa.edu/">Roadrunner Exchange</a></li>
            <li><a href="http://utsa.edu/sombrilla/">Sombrilla Online</a></li>
            <li><a href="http://giving.utsa.edu/">Giving to UTSA</a></li>
            <li><a href="http://utsa.edu/careercenter/">Career Services</a></li>
            <li><a href="http://utsa.edu/registrar/transcripts.cfm">Transcript Request</a></li>
            <li><a href="http://alumni.utsa.edu/s/1042/index-alumni-events.aspx?sid=1042&amp;gid=1&amp;pgid=13&amp;cid=664">Alumni Calendar</a></li>
        </ul>
        
        <ul class="footer-community">
            <li class="audience-footer-label"><a href="http://utsa.edu/community/index.html">Community</a></li>
            <li><a href="http://community.utsa.edu/">Community Connection</a></li>
            <li><a href="http://texancultures.com/">Institute of Texan Cultures</a></li>
            <li><a href="http://utsa.edu/ee/">Extended Education</a></li>
            <li><a href="http://utsa.edu/careercenter/">Hire a Roadrunner</a></li>
            <li><a href="http://utsa.edu/purchasing/">Do Business with UTSA</a></li>
            <li><a href="http://utsa.edu/calendar/">UTSA Calendar</a></li>
        </ul>
		
        <ul class="footer-media">
            <li class="audience-footer-label"><a href="http://onlinepressroom.net/utsa/">Media</a></li>
            <li><a href="http://utsa.edu/today/">UTSA Today</a></li>
            <li><a href="http://onlinepressroom.net/utsa/">Online Newsroom</a></li>
            <li><a href="http://utsa.edu/about/">About UTSA</a></li>
        </ul>        
</div><!-- end Extended Footer -->          

    