<div id="globalNav" class="clearfix">
    <ul class="nav">
    <li class="floatL"><a class="nav-admissions" href="http://utsa.edu/admissions/index.html">Admissions</a></li>
    <li class="floatL"><a class="nav-academics" href="http://utsa.edu/academics/index.html">Academics</a></li>
    <li class="floatL"><a class="nav-research" href="http://utsa.edu/research/index.html">Research</a></li>
    <li class="floatL"><a class="nav-athletics" href="http://utsa.edu/athletics/index.html">Athletics</a></li>
    <li class="floatL"><a class="nav-campus" href="http://utsa.edu/campuslife/index.html">Campus Life</a></li>
    <li class="floatL"><a class="nav-community" href="http://utsa.edu/community/index.html">Community</a></li>
    <li class="floatL"><a class="nav-alumni" href="http://alumni.utsa.edu/">Alumni</a></li>
    <li class="floatL"><a class="nav-giving" href="http://giving.utsa.edu/">Giving</a></li>
    </ul>
</div><!--end globalNav -->

