<ul>
    <li><a class="home" href="../../class/index.asp" title="Core Curriculum Home Page">CLASS Home</a></li>
      <li><a href="../../class/advising.asp">CLASS Initiative I:<br />
      <strong>Advising</strong></a><strong></strong></li>
      <li><a href="../../class/first-year-experience.asp">CLASS Initiative II:<br />
        <strong>First-Year
Experience / AIS 1203</strong></a><strong></strong></li>
     <li><a href="../../class/onboarding.asp">CLASS Initiative III:<br />
     <strong>Onboarding</strong></a><strong></strong></li>
       <li><a href="../../class/focused-academic-support.asp">CLASS Initiative IV:<br />
       <strong>Focused Academic Support</strong></a><strong></strong></li>
      <li><a href="../../class/professional-preparation.asp">CLASS Initiative V:<br />
      <strong>Leadership &amp; Professional<br />
Preparation</strong></a><strong></strong></li>
            <li><a href="../../class/financial-aid.asp">CLASS Initiative VI:<br />
            <strong>Financial Aid</strong></a><strong></strong></li>
       
    
</ul>
