<ul>
    <li><a class="home" href="http://provost.utsa.edu/corecurriculum/index.asp" title="Core Curriculum Home Page">Core Curriculum Home</a></li>
      <li><a href="https://coreproposal.utsa.edu/Account/Login.aspx">Core Curriculum Proposal Portal</a></li>
      <li><a href="http://www.utsa.edu/gov/committees/core.html">Core Curriculum Committee</a></li>
      <!--<li><a href="http://www.utsa.edu/gov/committees/CCAC.html">Core Curriculum Assessment Committee</a></li>-->
      <li><a href="http://www.utsa.edu/facultyawards/awards/core.html">Core Curriculum Teaching Awards</strong></a></li>
       <li><a href="http://provost.utsa.edu/corecurriculum/glossary.asp">Glossary of Assessment Terms</a></li>
      <li><a href="http://catalog.utsa.edu/undergraduate/bachelorsdegreeregulations/degreerequirements/corecurriculumcomponentarearequirements/">List of Core Courses</a></li>
            <li><a href="http://provost.utsa.edu/corecurriculum/resources.asp">Resources and Forms</a></li>
        <li><a href="https://leaptx.org/coreobjectives/">Texas Core Curriculum</a></li>
        <li><a href=" https://tracdat.utsa.edu/tracdat/">TracDat</a></li>
        <li><a href="../../corecurriculum/millican.asp">Associate Vice Provost - Core Curriculum</a></li>
    
</ul>
