<ul>
    <li><a class="home" href="/home/" title="Provost Home Page"><strong>Provost Home</strong></a></li>
    <strong>
    <!--<li><a href="http://utsa.edu/2016/strategic/index.html">Strategic Plan: UTSA 2016</a></li>-->
    </strong>
    <li><strong><a href="http://utsa.edu/academics/academic-departments.html" title="College Links">Colleges</a></strong></li>
    <li><strong><a href="http://utsa.edu/graduate/" title="Graduate School">Graduate School</a></strong></li>
    <li><strong><a href="http://utsa.edu/honors/" title="Honors College">Honors College</a></strong></li>
    <li><strong><a href="https://www.utsa.edu/oit/" title="Office of Information Technology">Information Technology</a></strong></li>
    <li><strong><a href="http://lib.utsa.edu/" title="Libraries">Libraries</a></strong></li>
    <li><strong><a href="http://utsa.edu/success/" title="University College">University College</a></strong></li>
    <li><strong><a href="/vpafs/" title="Vice Provost for Academic and Faculty Support">Academic and Faculty Support</a></strong></li>
    <li><strong><a href="/vpie/" title="Vice Provost for Accountability and Institutional Effectiveness">Institutional Effectiveness</a></strong></li>
    <li><strong><a href="http://international.utsa.edu/">International Initiatives</a></strong></li>
   <li> <strong><a href="/veteran/">Veteran and Military Affairs</a></strong></li>
</ul>
<hr  style="height:0.2em;"/>
<h3>RESOURCES</h3>
<p>

<ul style="margin: 12px 0 0 0; ">
<!--<li><strong><a href="/class/index.asp" style="border: 0px;"title="Faculty resources">CLASS Initiative</a></strong></li>-->
<li><strong><a href="../../diversity/index.asp">Diversity and Inclusion Advisory Council</a></strong></li>
<li><a href="http://www.utsa.edu/dreamers/"><strong>Dreamers Resource Center</strong></a></li>
<li><a href="http://research.utsa.edu/adr"><strong>Academy of Distinguished Researchers</strong></a></li>
<li><strong><a href="http://provost.utsa.edu/adts/">Academy of Distinguished Teaching Scholars</a></strong></li>
<li><strong><a href="/home/resources_faculty.asp">Faculty Resources</a></strong></li>
<li><strong><a href="/home/resources_dean.asp">Resources for Deans <br />
  and Department Chairs</a></strong></li>

  <li><strong><a href="/home/resources_staff.asp">Staff Resources</a></strong></li>
</ul>
<hr style="height:0.2em;"/>
<h3>ADMINISTRATION</h3>
<ul style="margin: 12px 0 0 0; ">
<!--<li><strong><a href="/home/hierarchy.asp" title="Provost Hierarchy/Responsibilities">Hierarchy/Responsibilities</a></strong></li>-->
<li><strong><a href="/home/mission.asp" title="Provost Mission Statement">Mission Statement</a> </strong></li>
<li><strong><a href="/home/docs/Academic-Affairs-Organization-Chart.pdf" title="Academic Affairs Organization Chart (PDF)">Organization Chart</a></strong></li>
</ul>
