 <li><a class="home" href="/home/" title="Provost Home Page"><strong>Academic Affairs</strong></a></li>
  <hr/>
<h3><strong>AREAS</strong></h3>
<ul>
    <!--<li><a class="home" href="/home/" title="Provost Home Page"><strong>Provost Home</strong></a></li>-->
    <strong>
    <!--<li><a href="http://utsa.edu/2016/strategic/index.html">Strategic Plan: UTSA 2016</a></li>-->
    </strong>
    <li><strong><a href="http://utsa.edu/academics/academic-departments.html" title="College Links">Academic Colleges & Departments</a></strong></li>
    <li><strong><a href="http://utsa.edu/success/" title="University College">University College</a></strong></li>
     <li><strong><a href="http://utsa.edu/honors/" title="Honors College">Honors College</a></strong></li>
  <li><strong><a href="http://utsa.edu/graduate/" title="Graduate School">Graduate School</a></strong></li>


  <li><strong><a href="https://www.utsa.edu/oit/" title="Office of Information Technology">Information Technology</a></strong></li>
     <li><strong><a href="http://www.texancultures.com/" title="Vice Provost for Accountability and Institutional Effectiveness">Institute for Texan Cultures</a></strong></li>
      <li><strong><a href="/vpie/" title="Vice Provost for Accountability and Institutional Effectiveness">Institutional Effectiveness</a></strong></li>
<li><strong><a href="http://international.utsa.edu/">International Initiatives</a></strong></li>
    <li><strong><a href="http://lib.utsa.edu/" title="Libraries">Libraries</a></strong></li>

</ul>
<hr style="height:0.2em;"/>
<h3><strong>RESOURCES</strong></h3>
<ul style="margin: 12px 0 0 0; ">

<li><strong><a href="/home/resources_faculty.asp">Faculty Resources</a></strong></li>
<li><strong><a href="/home/resources_dean.asp">Resources for Deans <br />
  and Department Chairs</a></strong></li>

  <li><strong><a href="/home/resources_staff.asp">Staff Resources</a></strong></li>
</ul>
<hr style="height:0.2em;"/>
<h3><strong>ADMINISTRATION</strong></h3>
<ul style="margin: 12px 0 0 0; ">
  <li><strong><a href="/home/docs/Academic-Affairs-Organization-Chart.pdf" title="Academic Affairs Organization Chart (PDF)">Organization Chart</a></strong></li>
</ul>
