<ul>
	<li><a class="home" href="http://www.utsa.edu/bussvc/" title="Business Affairs Home Page">Business Affairs Home</a></li>
    <li><a href="/osm/index.asp">OSM Home</a></li>
    <li><a href="/osm/mission.asp">Mission &amp; Goals</a></li>
    <li><a href="/osm/services.asp">Services</a></li>
    <li><a href="/osm/contacts.asp">Contacts</a></li>
    <li><a href="http://facilities.utsa.edu/isd">Forms</a></li>
    <li><a href="/osm/building.asp">Building Information</a></li>
    <li><a href="/osm/reports.asp">Reports &amp; Listings</a></li>
    <li><a href="/osm/policy.asp">Space Policy</a></li>
</ul>