<ul>
    <li><a class="home" href="http://provost.utsa.edu/home/index.asp" title="Core Curriculum Home Page">Provost Office Home</a></li>
      <li><a href="../honors-dean/index.asp">Honors College Dean Search</a></li>
      <li><a href="../honors-dean/timeline.asp">Timeline for Search</a></li>
      <li><a href="../honors-dean/committee.asp">Search Committee</a></li>
      <li><a href="../honors-dean/utsa.asp">About UTSA &amp; San Antonio</a></li>
      <li><a href="../honors-dean/applications.asp">Applications</a></li>
     
</ul>
