<div id="global-header">
	<style>
		@media screen and (min-width:991px){
			 .moz-fix{
				 min-height:25px!important;
			 }
		}
	</style>
		<section id="banner">
			<!--start search-->
			<section class="headerSearchContainer">
				<div class="container text-center">
					<form action="https://www.utsa.edu/search/searchresults.html" class="mb-0" id="cse-search-box">
						<input name="cx" type="hidden" value="000238266656426684962:mzli4pte7ko"/>
						<input name="cof" type="hidden" value="FORID:11"/>
						<span style="display: none;">
							<label for="q">Search</label>
						</span>
						<span class="wrapper mb-0 position-relative">
							<label class="pt-4 pl-4 position-absolute" for="search-input">
								<i aria-hidden="true" class="fa fa-lg fa-search secondary orangetext"></i>
								<span class="sr-only">Search icons</span>
							</label>
							<input class="searchfield pl-5" id="q" name="q" onblur="if (this.value == '') {this.value = 'Search UTSA';}" onfocus="if (this.value == 'Search UTSA') {this.value = '';}" size="15" type="text" value="Search UTSA"/>
						</span>
					</form>
				</div>
			</section>
			<!--end search-->
			<!--top navigation icons-->
			<div class="container pt-1 position-relative moz-fix">
				<style>
			/* start 50th header style overrides */
			#banner {
                min-height: 58px;
            }
			.logo-50th-mobile {
				width: 4.65rem;
				z-index:99999;
				top:0;
			}
			.logo-50th {
				width: 7.25rem;
				z-index:99999;
				top:-31px;
			}
			#logoFull, #logoSmall {
				margin-left:8rem;
			}
			@media screen and (max-width: 991px) {
				.logo{
					margin-left:5.5rem;
				}
			}
			@media screen and (min-width: 991px) {
				#startupNavbar ul li a {
					font-size: .9rem;
				}
			}
			@media screen and (max-width: 776px) {
				.logo-50th-mobile-xs {
					width: 10.05rem!important;
					left:0;
					top:0;
					z-index:99999;

			  }
			}
			@media screen and (max-width: 375px) {
				.logo-50th-mobile-xs {
					width: 10rem!important;
			  }
				.nav .ml-3{
					margin-left:12px !important;
				}
				.nav .pl-1{
					padding-left:0px !important;
				}
				.nav .pr-1{
					padding-right:0px !important;
				}
			}
			@media screen and (max-width: 320px) {
				.logo-50th-mobile-xs {
					width: 7rem!important;
					top:8.5px !important;
			  }
			}
			/* end 50th header style overrides */
			</style>
				<div class="navbar-brand d-inline d-lg-none" data-label="global-header-navbar">
					<a href="https://www.utsa.edu/50/">
						<img alt="UTSA 50th Anniversary Mobile Logo" class="logo-50th-mobile-xs d-inline d-md-none position-absolute" src="/_files/images/logo-50th-mobile-xs.png"/>
					</a>
					<a href="https://www.utsa.edu/">
						<img alt="UTSA 50th Anniversary Mobile Logo" class="logo-50th-mobile d-none d-md-inline d-lg-none position-absolute" src="/_files/images/logo-50th-mobile.png"/>
						<img alt="UTSA Logo" class="logo d-none d-md-inline pt-2 mt-1 pb-2 mb-1" src="/_files/images/logo4_sm.png"/>
					</a>
				</div>
				<nav class="nav nav-inline navbar-dark float-right align-items-center pt-1 pt-md-2 pt-lg-0">
					<a aria-label="my.utsa.edu" class="nav-link top-link p-0" data-label="global-header" href="http://my.utsa.edu">
						<i aria-hidden="true" class="fa fa-globe orangetext"></i>
						<span class="linkmobile d-none d-md-inline"> myUTSA </span>
					</a>
					<a aria-label="UTSA Today" class="nav-link top-link p-0 ml-3" data-label="global-header" href="//www.utsa.edu/today">
						<i aria-hidden="true" class="fa fa-newspaper-o orangetext"></i>
						<span class="linkmobile d-none d-md-inline"> UTSA Today </span>
					</a>
					<a aria-label="Visit UTSA" class="nav-link top-link p-0 ml-3" data-label="global-header" href="//www.utsa.edu/visit">
						<i aria-hidden="true" class="fa fa-map-o orangetext"></i>
						<span class="linkmobile d-none d-md-inline"> Visit </span>
					</a>
					<a aria-label="UTSA Directory" class="nav-link top-link p-0 ml-3" data-label="global-header" href="//www.utsa.edu/directory">
						<i aria-hidden="true" class="fa fa-users orangetext"></i>
						<span class="linkmobile d-none d-md-inline"> Directory </span>
					</a>
					<a aria-label="Search UTSA" class="nav-link top-link p-0 ml-3" data-label="global-header" href="#" id="headerSearchCTA">
						<i aria-hidden="true" class="fa fa-search orangetext"></i>
						<span class="linkmobile d-none d-md-inline"> Search </span>
					</a>
					<!-- hidden-lg-up float-xs-right -->
					<button class="navbar-toggler border-0 d-inline d-lg-none ml-3 pl-1 pr-1" data-label="global-header-burger" data-target="#startupNavbar" data-toggle="collapse" type="button">
						<span class="sr-only">Toggle navigation</span>
						<span class="navbar-toggler-icon"></span>
					</button>
				</nav>
			</div>
			<!--top level navigation-->
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-dark p-0 w-100 align-items-end position-relative">
					<div class="navbar-brand d-none d-lg-inline" data-label="global-header-navbar" href="//www.utsa.edu">
						<!--width="320" -->
						<a href="https://www.utsa.edu/50/">
							<img alt="UTSA 50th Anniversary Logo" class="logo-50th d-none d-lg-inline position-absolute" src="/_files/images/logo-50th.svg"/>
						</a>
						<a href="https://www.utsa.edu/">
							<img alt="UTSA 50th Anniversary Logo" class="d-none d-xl-inline pb-1" id="logoFull" src="/_files/images/logo4.png"/>
							<img alt="UTSA" class="logo d-none d-lg-inline d-xl-none pb-1" id="logoSmall" src="/_files/images/logo4_sm.png" width="95"/>
						</a>
						<!-- [if IE]>
						<style>
          .logoFull {
            width: 320px!important;
          }
          .logo {
            width: 100px;
          }
          </style>
						<![endif]-->
					</div>
					<div class="collapse navbar-collapse moz-fix" id="startupNavbar">
                        <ul class="nav ml-auto navbar-nav">
							<li class="nav-item mt-4 mt-lg-0">
								<a class="nav-link" data-label="global-header-navbar" href="//www.utsa.edu/about">About</a>
							</li>
							<li class="dropdown-divider border-dark"></li>
							<li class="nav-item">
								<a class="nav-link" data-label="global-header-navbar" href="//www.utsa.edu/admissions">Admissions</a>
							</li>
							<li class="dropdown-divider border-dark"></li>
							<li class="nav-item">
								<a class="nav-link" data-label="global-header-navbar" href="//www.utsa.edu/academics">Academics</a>
							</li>
							<li class="dropdown-divider border-dark"></li>
							<li class="nav-item">
								<a class="nav-link" data-label="global-header-navbar" href="http://research.utsa.edu">Research</a>
							</li>
							<li class="dropdown-divider border-dark"></li>
							<li class="nav-item">
								<a class="nav-link" data-label="global-header-navbar" href="//www.utsa.edu/campuslife">Campus Life</a>
							</li>
							<li class="dropdown-divider border-dark"></li>
							<li class="nav-item">
								<a class="nav-link" data-label="global-header-navbar" href="http://giving.utsa.edu">Giving</a>
							</li>
							<li class="dropdown-divider border-dark"></li>
							<li class="nav-item">
								<a class="nav-link" data-label="global-header-navbar" href="http://goutsa.com">Athletics</a>
							</li>
							<li class="dropdown-divider border-dark"></li>
							<li class="nav-item">
								<a class="nav-link" data-label="global-header-navbar" href="http://alumni.utsa.edu">Alumni</a>
							</li>
							<li class="dropdown-divider border-dark"></li>
							<li class="nav-item mb-2 mb-lg-0">
								<a class="nav-link pr-0" data-label="global-header-navbar" href="http://giving.utsa.edu">Giving</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</section>
	</div>