h1, h2, h3, h4, h5, h6, h7, h8 {
    color: #0c2340!important;
}
#site-footer a:link {
	 color:#002a5c;
}
 #site-footer a:hover {
	 color: #f15a22;
}
 .site-top-Title {
	 font-weight: 700;
	 margin: .3em 0 .6em;
	 display: block;
	 font-family: inherit;
	 line-height: 1.1;
	 font-size: 2.75rem;
	 text-rendering: optimizelegibility;
	 background-color: #FFF;
	 box-sizing: border-box;
	 color: #0c2340;
	 cursor: auto;
}
 .site-top-Title a:hover {
	 color: #f15a22;
}
 .site-top-Title a {
	 color: #0c2340;
}
 #site-top, #site-content {
	 margin-top: 1.1em;
}
 .site-top-Title {
	 float: left;
	 width: 100%;
	 margin-bottom: 20px;
}
 .site-top-Title-img {
	 float: left;
	 width: 77;
	 padding-right: 0.75rem;
}
 .content-caption {
	 font-size: 0.75rem;
}
 #site-navigation {
	 z-index:150;
}
 #departmentalPageNav ul {
	 z-index:250;
}
 #departmentalPageNav {
	 background: #0c2340;
	 margin-left: 0;
	 margin-bottom: 0;
}
 .breadcrumbs {
	 padding-top: .9em;
	 padding-bottom: 0.45em;
	 font-size: .85em 
}
 .breadcrumbs span {
	 padding: 0 .2em 
}
.breadcrumbs a {
    color: #0c2340;
}
.breadcrumbs a:hover {
    color: #f15a22;
}
.breadcrumbs i{
    color: #f15a22;
}
 #departmentalPageNav li a {
	 color: #fff;
}
 #departmentalPageNav li a:hover {
	 color: #f15a22;
	 width: 100%;
}
 #departmentalPageNav li ul li {
	 border-top: 1px solid #3D3D3D 
}
 #departmentalPageNav li ul li {
	 background: #0C2340;
	 border-top: 1px solid #3D3D3D 
}
 #departmentalPageNav li {
	 display: inline-block;
	 margin-right: 0;
	 position: relative;
	 color: #fff;
	 padding: 15px 10px;
	 cursor: default 
}
 #departmentalPageNav li a {
	 border-bottom: none;
	 color: #fff;
	 padding: 15px 0;
	 text-decoration: none 
}
 #departmentalPageNav li ul {
	 padding: 0;
	 position: absolute;
	 top: 50px;
	 left: -3px;
	 width: 245px;
	 display: none;
	 opacity: 0;
	 visibility: hidden;
	 border-top: 3px solid #f15a22 
}
 #departmentalPageNav li ul li {
	 display: block;
	 border-top: 1px solid #0D2F59 
}
 #departmentalPageNav li ul li a {
	 padding: 15px 10px 
}
 #departmentalPageNav li:hover ul {
	 display: block;
	 opacity: 1;
	 visibility: visible 
}
 .nav-gray {
	 background-color: #e0e0e0;
	/* disabling top and bottom margin: jdg @5/20/16 margin: 40px 0;
	 */
	 padding: 20px;
	 position: relative;
	 -moz-box-shadow: 0 0 1px #888;
	 -webkit-box-shadow: 0 0 1px #888;
	 box-shadow: 0 0 1px #888;
	 -moz-border-radius: 2px;
	 -webkit-border-radius: 2px;
	 border-radius: 2px;
}
 #col-navigation .nav-gray a {
	 border-bottom: none;
	 color: #002244;
	 display: block;
	 padding: 6px 0;
}
/* PRIMARY ==============================================*/
 .nav-gray ul {
	 margin: 0;
	 padding: 0;
}
 .nav-gray li {
	 list-style: none;
	 padding: 0;
}
 #col-navigation .nav-gray li a {
	 border-top: 1px solid #ccc;
	 color: #002244;
	 font-size: 95%;
}
 #col-navigation .nav-gray li:first-child a {
	 border-top: none;
}
 #col-navigation .nav-gray li a:hover {
	 color: #f47321 
}
 #col-navigation .nav-gray a.selected {
	 color: #F47321;
	 font-weight: bold;
}
/* Default Icon Color when in col-navigation */
 #col-navigation i.fa {
	 padding-left: 0.4rem;
	 color: #f15a22;
}
 .nav-gray > ul > li > ul {
	 padding-bottom: 10px 
}
/* SECONDARY ==============================================*/
 .nav-gray ul ul {
	 margin-top: -2px;
	 padding: 0 0 0 15px;
}
 .nav-gray li li {
	 list-style-position: outside;
}
 #col-navigation .nav-gray li li a {
	 border: none;
	 color: #444;
	 font-size: 90%;
	 padding: 2px 0;
}
/* TERTIARY ==============================================*/
 .nav-gray ul ul ul {
	 padding: 0 0 0 15px;
	 margin: 0;
}
 #col-navigation .nav-gray li li li a {
	 font-size: 80%;
	 padding: 2px 0;
}
/* QUATERNARY ==============================================*/
 .nav-gray ul ul ul ul {
	 padding: 0 0 0 15px 
}
 #col-navigation .nav-gray li li li li a {
	 font-size: 75%;
	 padding: 2px 0;
}
/* QUINARY ==============================================*/
 #col-navigation .nav-gray li li li li li {
	 font-size: 95%;
}
/* SELECTED ITEM STYLES ==============================================*/
 #col-navigation .nav-gray > ul > li.parent > a {
	 cursor: pointer;
	 padding-right: 25px;
}
 #col-navigation .nav-gray > ul > li.parent:hover > a {
	 background-position: right -32px;
	 color: #f47321;
}
 #col-navigation .nav-gray > ul > li.parent > a.selected {
	 background-position: right -96px;
	 font-weight: bold;
}
 #col-navigation .nav-gray > ul > li.parent > a.selected:hover {
	 background-position: right -64px;
}
/* NAV ACTION BUTTONS ==============================================*/
 #col-navigation ul.action-btn li {
	 margin-bottom: 8px;
}
 #col-navigation ul.action-btn li:last-child {
	 border: 0;
	 margin-bottom: 25px;
}
 #col-navigation .nav-gray li a.btn {
	 color: #fff;
	 font: bold 80%/1.2 'Open Sans', sans-serif;
}
 #col-navigation .nav-gray a.btn {
	 border: none;
	 font: bold 90%/1 'Open Sans', sans-serif;
	 text-transform: uppercase;
	 color: #ffffff;
	 padding: 8px;
	 text-align: center;
	 -moz-border-radius: 3px;
	 -webkit-border-radius: 3px;
	 border-radius: 3px;
}
 #col-navigation .nav-gray li a.btn {
	 background:#f68a38;
	/*IE Fix*/
	 background: -moz-linear-gradient( top, #f57c20 0%, #f68a38);
	 background: -webkit-gradient( linear, left top, left bottom, from(#f57c20), to(#f68a38));
	 background: -ms-linear-gradient( top, #f57c20 0%, #f68a38);
	 -moz-box-shadow: 0px 3px 0px rgba(189,77,8,1), inset 0px 0px 3px rgba(255,255,255,0);
	 -webkit-box-shadow: 0px 3px 0px rgba(189,77,8,1), inset 0px 0px 3px rgba(255,255,255,0);
	 box-shadow: 0px 3px 0px rgba(189,77,8,1), inset 0px 0px 3px rgba(255,255,255,0);
}
 .utsa-social-circle-top .fa {
	 font-size: .85em;
	 padding-left: 0.3em;
	 width: 1.8em;
	 height: 1.8em;
	 line-height: 1.6em;
	 float: none;
	 border-radius: 50%;
	 border: 2px solid #0c2340;
	 color: #0c2340;
	 text-align: center;
	 background: #fff;
}
 .utsa-social-circle-top .fa:hover {
	 color: #f15a22;
	 border: 2px solid #f15a22;
}
 h2.homebg {
	 background-color: #e4e4e4;
	 border-left: 0.5rem solid #0c2340;
	 padding: 0.5rem 0px 0.5rem 0.5rem;
}
 .grayBoxContainer {
	 padding: 1rem;
	 background: #f1f1f1;
}
 .card-block {
	 padding:0;
}
 .card-secondary {
	 padding: 1.2em;
	 background-color:#f1f1f1;
	 border:0px;
	 min-height:275px;
}
 .card-primary {
	 background-color:#fff;
	 border:0px;
}
 .secondaryheadlineblue {
	 background-color: #0c2340;
	 color: #fff;
	 padding-left: 7px;
	 font-size: 1.20rem;
	 line-height: 1.5rem;
	 font-weight: 400;
	 padding-bottom: 15px;
	 padding-top: 10px;
	 padding-right: 10px;
}
 .card img {
	 width:100%;
}
 .card p {
}
 .carousel-overlay {
	 position: absolute;
	 top:10%;
	 bottom:10%;
	 right:7%;
	 z-index: 10;
}
 .carousel-card {
	 padding: 1.2em;
	 background-color:#f1f1f1;
	 border:0px;
	/*margin-right:1.2rem;
	 */
}
 .orangeBackground {
	 color: #fff;
	 background-color: #f15a22;
}
 .btn-block {
	 display: block;
	 width: 100%;
}
 .orangeBackground a {
	 color: #fff;
}
 .orangeBackground:hover {
	 background-color: #0c2340;
}
 .landingSideMenu li {
	 display: block;
	 border-bottom: 1px dashed #0c2340;
	 padding: 15px 0 1px;
}
 .landingSideMenu li a {
	 color: #f15a22;
	 font-weight: 700;
	 border-bottom: none;
}
 .landingSideMenu {
	 margin: 0 0 2em;
	 padding: 0;
}
 textarea#message{
	 margin: 0px;
	 height: 169px;
	 width: 400px;
}
 .blogRoll h4 {
	 font-size: 1.75rem;
	 color: #000;
	 padding: 0.4rem 0;
	 margin:0;
}
 .blogRoll h4, h1.blogTitle {
	 padding: 0.4rem 0;
	 margin:0;
}
 .blogRoll .row {
	 margin-bottom: 1.75rem;
}
 .card-muted-title {
	 font-size: 0.85rem;
	 color: #000;
}
 div.blogCategory {
	 margin-top: 0.25rem;
	 padding: 0.4rem 0;
}
 div.blogCategory span {
	 background-color: #e9542e;
	 opacity: 0.95;
	/* HSLA(16, 88%, 54%, 0.75);
	 */
	 color: #FFF;
	 padding: 0.25rem 0.35rem;
	 margin-right:0.25rem;
}
 div.blogCategory span a {
	 color: #FFF;
}
 div.blogCategory span a:hover {
	 color: #0c2340;
}
 .blogCategory li {
	 padding-bottom: 0.5rem;
	 padding-top: 0.5rem;
	 list-style: none;
}
 .blogCategory ul {
	 padding-left: 0.3rem;
}
 .img-thumbnail {
	 padding:1.5rem;
	 border: none;
}
 div.blogRoll > div {
	 border-bottom: 1px solid #e3e3e3;
	 padding-bottom: 2rem;
}
 .card-muted-title{
	 font-weight: bold;
	 color: #0c2340;
	 font-variant: all-petite-caps;
}
 div#social-sidebar {
	 border-bottom: 1px solid #e3e3e3;
	 padding-bottom: 2rem;
}
 div#twitter-embed {
	 border-bottom: 1px solid #e3e3e3;
	 height:1000px;
}
 div.readmore {
	 padding-left: 1.0rem;
}
 div.source {
	 font-weight: bold;
	 font-size: 0.90rem;
}
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	 div.timeline-Viewport, ol.timeline-Tweetlist, div.timeline-Body, div.twitter-timeline, div.twitter-timeline-rendered, iframe#twitter-widget-0, div#twitter-embed, div.timeline-Widget{
		 max-height:1000px !important;
		 height:1000px !important;
	}
}
@media screen and (max-width:767px){
    .navbar-nav-scroll{
        max-width: 100%;
        height: 3.25rem;
        overflow: hidden;
    }
    .navbar-nav-scroll .navbar-nav {
        margin-bottom: 2rem !important;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}
 