<h5>State of the University Address</h5>
<p>Wednesday, October 6, 2010<br />
  3:30 pm<br />
  University Center Ballroom, UC 1.104, <br />
  Main Campus</p>
<h5><a href="/presidentsdinner">President's Scholarship and Awards Dinner</a></h5>
<p>Thursday, October 14, 2010<br />
  6 pm-9 pm<br />
  The Marriott Rivercenter Hotel<br />
  101 Bowie Street, San Antonio TX 78205<br />
  <a href="/presidentsdinner/tickets.html">Make reservations/purchase tickets</a></p>
