<select id="admission-others">
    <option selected="selected" value="/academics/index.html#pre-profess">Select an Academic Professional Program</option>
    <option label="Pre-Health" value="/healthprofessions/">Pre-Health</option>
    <option label="Pre-Law" value="/ilpa/">Pre-Law</option>
    <option label="Air Force ROTC" value="http://www.det842.com">Air Force ROTC</option>
    <option label="Army ROTC" value="http://armyrotc.com/edu/univtxsanantonio/">Army ROTC</option>
</select>