<select name="jumpMenu" id="athletics">
<option selected="selected" value="http://www.goutsa.com/">UTSA's Intercollegiate Sports</option>
<optgroup label="Men">
    <option value="http://www.goutsa.com/SportSelect.dbml?DB_OEM_ID=13100&amp;KEY=&amp;SPID=5985&amp;SPSID=55655">Baseball</option>
    <option value="http://www.goutsa.com/SportSelect.dbml?DB_OEM_ID=13100&amp;KEY=&amp;SPID=5988&amp;SPSID=55680">Basketball</option>
    <option value="http://www.goutsa.com/SportSelect.dbml?DB_OEM_ID=13100&amp;KEY=&amp;SPID=6626&amp;SPSID=60873">Cross Country</option>
    <option value="http://www.goutsa.com/SportSelect.dbml?DB_OEM_ID=13100&amp;KEY=&amp;SPID=34919&amp;SPSID=315549">Football</option>
    <option value="http://www.goutsa.com/SportSelect.dbml?DB_OEM_ID=13100&amp;KEY=&amp;SPID=5975&amp;SPSID=55582">Golf</option>
    <option value="http://www.goutsa.com/SportSelect.dbml?DB_OEM_ID=13100&amp;KEY=&amp;SPID=5976&amp;SPSID=55589">Tennis</option>
    <option value="http://www.goutsa.com/SportSelect.dbml?DB_OEM_ID=13100&amp;KEY=&amp;SPID=5960&amp;SPSID=55460">Track &amp;amp; Field</option>
</optgroup>
<optgroup label="Women">
    <option value="http://www.goutsa.com/SportSelect.dbml?DB_OEM_ID=13100&amp;KEY=&amp;SPID=5989&amp;SPSID=55692">Basketball</option>
    <option value="http://www.goutsa.com/SportSelect.dbml?DB_OEM_ID=13100&amp;KEY=&amp;SPID=8105&amp;SPSID=70977">Cross Country</option>
    <option value="http://www.goutsa.com/SportSelect.dbml?DB_OEM_ID=13100&amp;KEY=&amp;SPID=5983&amp;SPSID=55639">Golf</option>
    <option value="http://www.goutsa.com/SportSelect.dbml?DB_OEM_ID=13100&amp;KEY=&amp;SPID=5991&amp;SPSID=55706">Softball</option>
    <option value="http://www.goutsa.com/SportSelect.dbml?DB_OEM_ID=13100&amp;KEY=&amp;SPID=5990&amp;SPSID=55699">Soccer</option>
    <option value="http://www.goutsa.com/SportSelect.dbml?DB_OEM_ID=13100&amp;KEY=&amp;SPID=5986&amp;SPSID=55667">Tennis</option>
    <option value="http://www.goutsa.com/SportSelect.dbml?DB_OEM_ID=13100&amp;KEY=&amp;SPID=5958&amp;SPSID=55440">Track &amp;amp; Field</option>
    <option value="http://www.goutsa.com/SportSelect.dbml?DB_OEM_ID=13100&amp;KEY=&amp;SPID=5987&amp;SPSID=55674">Volleyball</option>
</optgroup>
    <optgroup label="Spirit Groups">
    <option value="http://www.goutsa.com/ViewArticle.dbml?DB_OEM_ID=13100&amp;KEY=&amp;ATCLID=1147418">Cheer &amp;amp; Dance Team</option>
    <option value="http://www.goutsa.com/ViewArticle.dbml?DB_OEM_ID=13100&amp;KEY=&amp;ATCLID=1147418">Chapparelle Dance Line</option>
</optgroup>
<option value="http://www.goutsa.com/">Go to goUTSA.com</option>
</select>
