<select name="jumpMenu" id="certificates">
    <option selected="selected" value="/academics/grad-degree-programs.html#cert">Select a Graduate Certificate</option>
    <option value="http://graduateschool.utsa.edu/prospective_students/detail/graduate_certificate_in_bilingual_reading_specialist/">Graduate Certificate in Bilingual Reading Specialist</option>
    <option value="http://utsa.edu/gcat/chapter3/CertificateProg.html#create">Graduate Certificate in Creative Writing</option>
    <option value="http://utsa.edu/gcat/chapter3/CertificateProg.html#geo">Graduate Certificate in Geographic Information Science</option>
    <option value="http://utsa.edu/gcat/chapter3/CertificateProg.html#hea">Graduate Certificate in Higher Education Administration</option>
    <option value="http://utsa.edu/gcat/chapter3/CertificateProg.html#hist">Graduate Certificate in Historic Preservation</option>
    <option value="http://utsa.edu/gcat/chapter3/CertificateProg.html#kped">Graduate Certificate in Keyboard Pedagogy</option>
    <option value="http://utsa.edu/gcat/chapter3/CertificateProg.html#kper">Graduate Certificate in Keyboard Performance</option>
    <option value="http://copp.utsa.edu/public-administration/nonprofit-certificate-program/">Graduate Certificate in Nonprofit Administration and Leadership</option>
    <option value="http://utsa.edu/gcat/chapter3/CertificateProg.html#security">Graduate Certificate in Security Studies</option>
    <option value="http://utsa.edu/gcat/chapter3/CertificateProg.html#spanish">Graduate Certificate in Spanish Translation Studies</option>
    <option value="Teaching English as a Second Language">Graduate Certificate in Teaching English as a Second Language</option>
    <option value="http://utsa.edu/gcat/chapter3/CertificateProg.html#urban">Graduate Certificate in Urban and Regional Planning</option>
  </select>

