<select name="jumpMenu" id="colleges">
<option selected="selected" value="/academics/academic-departments.html">Colleges and Schools</option>
<option value="/architecture/">Architecture</option>
<option value="http://business.utsa.edu/">Business</option>
<option value="http://education.utsa.edu/">Education and Human Development</option>
<option value="http://engineering.utsa.edu/">Engineering</option>
<option value="http://colfa.utsa.edu/colfa/">Liberal and Fine Arts</option>
<option value="http://copp.utsa.edu/">Public Policy</option>
<option value="/cos/">Sciences</option>
<option value="/honors/">Honors College</option>
<option value="http://www.graduateschool.utsa.edu/">The Graduate School</option>
</select>
<noscript>
	<style type="text/css">#colleges {display:none}</style>
	<p><span class="h5 arrow">&raquo;</span><a href="/academics/academic-departments.html"> Colleges and Schools</a></p>
</noscript>