<select name="jumpMenu" id="departments">
<option selected="selected" value="/academics/academic-departments.html">Academic Departments</option>
<option value="/architecture/">Architecture</option>
<option value="http://business.utsa.edu/accounting/index.aspx">Accounting</option>
<option value="http://business.utsa.edu/economics/index.aspx">Economics</option>
<option value="http://business.utsa.edu/finance/index.aspx">Finance</option>
<option value="http://business.utsa.edu/it/index.aspx">Information Systems and Technology Management</option>
<option value="http://business.utsa.edu/mgt/index.aspx">Management</option>
<option value="http://business.utsa.edu/mss/index.aspx">Management Science and Statistics</option>
<option value="http://business.utsa.edu/marketing/index.aspx">Marketing</option>
<option value="http://education.utsa.edu/bicultural-bilingual_studies">Bicultural-Bilingual Studies</option>
<option value="http://education.utsa.edu/counseling">Counseling</option>
<option value="http://education.utsa.edu/educational_psychology">Educational Psychology</option>
<option value="http://education.utsa.edu/educational_leadership_and_policy_studies">Education Leadership and Policy Studies</option>
<option value="http://education.utsa.edu/health_and_kinesiology">Health and Kinesiology</option>
<option value="http://education.utsa.edu/interdisciplinary_learning_and_teaching">Interdisciplinary Learning and Teaching</option>
<option value="http://engineering.utsa.edu/BME/deptInfo.html">Biomedical Engineering</option>
<option value="http://engineering.utsa.edu/CEindex.html">Civil and Environmental Engineering</option>
<option value="http://ece.utsa.edu/">Electrical and Computer Engineering</option>
<option value="http://engineering.utsa.edu/~mechanical/deptInfo.html">Mechanical Engineering</option>
<option value="http://colfa.utsa.edu/ant/">Anthropology</option>
<option value="http://art.utsa.edu/">Art and Art History</option>
<option value="http://communication.utsa.edu/">Communication</option>
<option value="http://colfa.utsa.edu/pc/">Philosophy and Classics</option>
<option value="http://colfa.utsa.edu/English/default.html">English</option>
<option value="http://colfa.utsa.edu/HIST/">History</option>
<option value="http://flan.utsa.edu/">Modern Languages and Literatures</option>
<option value="http://music.utsa.edu/">Music</option>
<option value="http://colfa.utsa.edu/Polisci/">Political Science and Geography</option>
<option value="http://colfa.utsa.edu/psych/index.html">Psychology</option>
<option value="http://colfa.utsa.edu/Sociology/">Sociology</option>
<option value="http://copp.utsa.edu/criminal-justice/home/">Criminal Justice</option>
<option value="http://copp.utsa.edu/demography/home/">Demography and Organization Studies</option>
<option value="http://copp.utsa.edu/public-administration/home/">Public Administration</option>
<option value="http://copp.utsa.edu/social-work/home/">Social Work</option>
<option value="http://www.bio.utsa.edu/">Biology</option>
<option value="/chem/index.html">Chemistry</option>
<option value="http://www.cs.utsa.edu/">Computer Science</option>
<option value="/geosci/">Geological Sciences</option>
<option value="http://physics.utsa.edu/">Physics and Astronomy</option>
<option value="http://math.utsa.edu/">Mathematics</option>
<option value="http://armyrotc.com/edu/univtxsanantonio/index.htm">ROTC Army (College of Business)</option>
<option value="http://www.det842.com/">ROTC Air Force (College of Engineering)</option>
</select>
<noscript>
<![CDATA[
		<style type="text/css">#departments {display:none}</style>	
    ]]>
</noscript>
