<select name="jumpMenu" id="doctoral">
  <option value="/academics/grad-degree-programs.html#doc" selected="selected">Select a Doctoral Degree</option>
  <optgroup label="College of Business">
  <option value="http://utsa.edu/gcat/chapter6/COB/mssdept.html#phdas">Applied Statistics (Ph.D.)</option>
  <option value="http://utsa.edu/gcat/chapter6/COB/accdept.html#phdbaa">Business Administration (Ph.D.) Accounting</option>
  <option value="http://utsa.edu/gcat/chapter6/COB/findept.html#phdbafin">Business Administration (Ph.D.) Finance</option>
  <option value="http://utsa.edu/gcat/chapter6/COB/istmdept.html#phdbait">Business Administration (Ph.D.) Information Technology</option>
  <option value="http://utsa.edu/gcat/chapter6/COB/mktdept.html#phdbam">Business Administration (Ph.D.) Marketing</option>
  <option value="http://utsa.edu/gcat/chapter6/COB/mgtdept.html#phdbaoms">Business Administration (Ph.D.) Organization and Management Studies</option>
  </optgroup>
  <optgroup label="College of Education and Human Development">
  <option value="http://utsa.edu/gcat/chapter6/COEHD/coudept.html#phdces">Counseling Education and Supervision (Ph.D.)</option>
  <option value="http://utsa.edu/gcat/chapter6/COEHD/bbldept.html#phdcll">Culture, Literacy and Language (Ph.D.)</option>
  <option value="http://utsa.edu/gcat/chapter6/COEHD/elpsdept.html#phdel">Educational Leadership (Ed.D.)</option>
  <option value="http://utsa.edu/gcat/chapter6/COEHD/iltdept.html#phdilt">Interdisciplinary Teaching and Learning (Ph.D.)</option>
  </optgroup>
  <optgroup label="College of Engineering">
  <option value="http://utsa.edu/gcat/chapter6/COE/bmedept.html#phdbme">Biomedical Engineering (Ph.D.)</option>
  <option value="http://utsa.edu/gcat/chapter6/COE/ecedept.html#phdee">Electrical Engineering (Ph.D.)</option>
  <option value="http://utsa.edu/gcat/chapter6/COE/ceedept.html#phdese">Environmental Science and Engineering (Ph.D.)</option>
  </optgroup>
  <optgroup label="College of Liberal and Fine Arts">
  <option value="http://utsa.edu/gcat/chapter6/COLFA/antdept.html#phdant">Anthropology (Ph.D.)</option>
  <option value="http://utsa.edu/gcat/chapter6/COLFA/engdept.html#phdeng">English (Ph.D.)</option>
  </optgroup>
  <optgroup label="College of Public Policy">
  <option value="http://utsa.edu/gcat/chapter6/COPP/demdept.html#phdad">Applied Demography (Ph.D.)</option>
  </optgroup>
  <optgroup label="College of Sciences">
  <option value="http://utsa.edu/gcat/chapter6/COS/biodept.html#ccmb">Biology/Cellular and Molecular (Ph.D.)</option>
  <option value="http://utsa.edu/gcat/chapter6/COS/biodept.html#cnb">Biology/Neurobiology (Ph.D.)</option>
  <option value="http://utsa.edu/gcat/chapter6/COS/chedept.html#phdc">Chemistry (Ph.D.)</option>
  <option value="http://utsa.edu/gcat/chapter6/COS/csdept.html#phdcs">Computer Science (Ph.D.)</option>
  <option value="http://utsa.edu/gcat/chapter6/COS/phydept.html#phdp">Physics (Ph.D.)</option>
  </optgroup>
</select>
