<select name="jumpMenu" id="executiveLeadership">
    <option selected="selected" value="/about/leadership">University Leadership</option>
    <option value="/president/">Ricardo Romo, President</option>
    <option value="http://provost.utsa.edu/">John Frederick, Provost and Vice President for Academic Affairs</option>
    <option value="http://provost.utsa.edu/evp/">Julius Gribou, Executive Vice Provost</option>
    <option value="/bussvc/">Kerry Kennedy, Vice President for Business Affairs</option>
    <option value="/vpcs/">Jude Valdez, Vice President for Community Services</option>
    <option value="http://research.utsa.edu/">Robert Gracy, Vice President for Research</option>
    <option value="/students">Gage Paine, Vice President for Student Affairs</option>
    <option value="/vpua">Marjie French, Vice President for University Advancement</option>
    <option value="/about/leadership/">View University Leadership and Administrative Offices</option>
</select>
<noscript>
	<style type="text/css">#executiveLeadership {display:none}</style>
	<p><span class="h5 arrow">&raquo;</span><a href="/about/leadership/"> University Leadership</a></p>
</noscript>