<select name="jumpMenu" id="majors">

<option selected="selected" value="/academics/ugrad-degree-programs.html">Select a Major</option>

<optgroup label="College of Architecture">
  <option value="http://utsa.edu/ucat/COA/BSARCH.html">Architecture (BS)</option>
  <option value="http://utsa.edu/ucat/COA/BSCSM.html">Construction Science and Management (BS)</option>
  <option value="http://utsa.edu/ucat/COA/BSIDE.html">Interior Design (BS)</option>
</optgroup>

<optgroup label="College of Business">
  <option value="http://utsa.edu/ucat/COB/bbaacc.html">Accounting (BBA)</option>
  <option value="http://utsa.edu/ucat/COB/bbaas.html">Actuarial Science (BBA)</option>
  <option value="http://utsa.edu/ucat/COB/cob.html#certif">Bilingual Business (Spanish) (Certificate)</option>
  <option value="http://utsa.edu/ucat/COB/bbaeco.html">Economics (BBA)</option>
  <option value="http://utsa.edu/ucat/COB/baeco.html">Economics (BA)</option>
  <option value="http://utsa.edu/ucat/COB/BBAFin.html">Finance (BBA)</option>
  <option value="http://utsa.edu/ucat/COB/bba.html">General Business (BBA)</option>
  <option value="http://utsa.edu/ucat/COB/BBAHRM.html">Human Resource Management (BBA)</option>
  <option value="http://utsa.edu/ucat/COB/bbais.html">Information Systems (BBA)</option>
  <option value="http://utsa.edu/ucat/COB/bbaia.html">Infrastructure Assurance (BBA)</option>
  <option value="http://utsa.edu/ucat/COB/BBAMgt.html">Management (BBA)</option>
  <option value="http://utsa.edu/ucat/COB/BBAMgtIbc.html">Management – International Business (BBA)</option>
  <option value="http://utsa.edu/ucat/COB/BBAMgtSBEC.html">Management – Small Business and Entrepreneurship (BBA)</option>
  <option value="http://utsa.edu/ucat/COB/bbamgtsc.html">Management Science (BBA)</option>
  <option value="http://utsa.edu/ucat/COB/BBAMkt.html">Marketing (BBA)</option>
  <option value="http://utsa.edu/ucat/COB/BBAMTC.html">Marketing – Tourism (BBA)</option>
  <option value="http://utsa.edu/ucat/COB/BBAREFD.html">Real Estate Finance and Development (BBA)</option>
  <option value="http://utsa.edu/ucat/COB/bssta.html">Statistics (BBA)</option>
</optgroup>

<optgroup label="College of Education and Human Development">
  <option value="http://utsa.edu/ucat/COEHD/certAC.html">Athletic Coaching (Certificate)</option>
  <option value="http://utsa.edu/ucat/COEHD/bshealth.html">Health (BS)</option>
  <option value="http://utsa.edu/ucat/COEHD/bshealth.html#sh">Health - Early Childhood–12 Certification (BS)</option>
  <option value="http://utsa.edu/ucat/COEHD/baasics.html">Infancy and Childhood Studies (BAAS)</option>
  <option value="http://utsa.edu/ucat/COEHD/baidsdegree.html">Interdisciplinary Studies (BA)</option>
  <option value="http://utsa.edu/ucat/COEHD/baidsk-6gencert.html">Interdisciplinary Studies - Early Childhood–Grade 6 Generalist (BA)</option>
  <option value="http://utsa.edu/ucat/COEHD/baisk-6bbl.html">Interdisciplinary Studies - Early Childhood–Grade 6 Bilingual Generalist (BA)</option>
  <option value="http://utsa.edu/ucat/COEHD/BAISec-6esl.html">Interdisciplinary Studies - Early Childhood–Grade 6 ESL Generalist (BA)</option>
  <option value="http://utsa.edu/ucat/COEHD/baidslangcert.html">Interdisciplinary Studies - Grades 4–8 Language Arts/ Reading /Social Studies (BA)</option>
  <option value="http://utsa.edu/ucat/COEHD/baidsmatcert.html">Interdisciplinary Studies - Grades 4–8 Mathematics/Science (BA)</option>
  <option value="http://utsa.edu/ucat/COEHD/bais4-8bbl.html">Interdisciplinary Studies - Grades 4–8 Bilingual Generalist (BA)</option>
  <option value="http://utsa.edu/ucat/COEHD/bais4-8esl.html">Interdisciplinary Studies - Grades 4–8 ESL Generalist (BA)</option>
  <option value="http://utsa.edu/ucat/COEHD/baidsspedcert.html">Interdisciplinary Studies - EC–12 Special Education (BA)</option>
  <option value="http://utsa.edu/ucat/COEHD/bskin.html">Kinesiology (BS)</option>
  <option value="http://utsa.edu/ucat/COEHD/bskin.html#pe">Kinesiology - Early Childhood–12 Physical Education (BS)</option>
  <option value="http://utsa.edu/ucat/COEHD/BAMas.html">Mexican American Studies (BA)</option>
</optgroup>

<optgroup label="College of Engineering">
  <option value="http://utsa.edu/ucat/COE/cedept.html#bsce">Civil Engineering (BS)</option>
  <option value="http://utsa.edu/ucat/COE/BSCmpE.html">Computer Engineering (BS)</option>
  <option value="http://utsa.edu/ucat/COE/bsee.html">Electrical Engineering (BS)</option>
  <option value="http://utsa.edu/ucat/COE/bsme.html">Mechanical Engineering (BS)</option>
</optgroup>

<optgroup label="College of Liberal and Fine Arts">
  <option value="http://utsa.edu/ucat/COLFA/BAAS.html">American Studies (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/BAAnthro.html">Anthropology (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/BAArt.html">Art (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/BFAArt.html">Art (BFA)</option>
  <option value="http://utsa.edu/ucat/COLFA/BAArtHis.html">Art History and Criticism (BA)</option>
  <option value="http://utsa.edu/ucat/Colfa/baascfc.html">Children, Family and Community (BAAS)</option>
  <option value="http://utsa.edu/ucat/COLFA/BAClaSt.html">Classical Studies (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/BAComm.html">Communication (BA)</option>
  <option value="http://utsa.edu/ucat/Colfa/baeng.html">English (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/bafrn.html">French (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/BAGrg.html">Geography (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/bager.html">German (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/BAHis.html">History (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/BaHum.html">Humanities (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/certjazz.html">Jazz Studies (Certificate)</option>
  <option value="http://utsa.edu/ucat/COLFA/BAMLAS.html">Modern Language Studies (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/BAMus.html">Music (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/BMus.html">Music (BM)</option>
  <option value="http://utsa.edu/ucat/COLFA/CertMus.html">Music Technology (Certificate)</option>
  <option value="http://utsa.edu/ucat/COLFA/BAPhi.html">Philosophy (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/BAPol.html">Political Science (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/BAPsy.html">Psychology (BA)</option>
  <option value="http://utsa.edu/ucat/Colfa/basoc.html">Sociology (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/baspn.html">Spanish (BA)</option>
  <option value="http://utsa.edu/ucat/COLFA/BAWs.html">Women’s Studies (BA)</option>
</optgroup>

<optgroup label="College of Public Policy">
<option value="http://utsa.edu/ucat/COPP/BACRJ.html">Criminal Justice (BS)</option>
<option value="http://copp.utsa.edu/public-administration/bpa/">Public Administration (BA)</option>
</optgroup>

<optgroup label="College of Sciences">
  <option value="http://utsa.edu/ucat/COS/BSBio.html">Biology (BS)</option>
  <option value="http://utsa.edu/ucat/COS/JointAllied.html">Clinical Laboratory Sciences (joint program with UTHSCSA) (BS)</option>
  <option value="http://utsa.edu/ucat/COS/BAChem.html">Chemistry (BA)</option>
  <option value="http://utsa.edu/ucat/COS/BSChem.html">Chemistry (BS)</option>
  <option value="http://utsa.edu/ucat/COS/BSCS.html">Computer Science (BS)</option>
  <option value="http://utsa.edu/ucat/COS/BSES.html">Environmental Science (BS)</option>
  <option value="http://utsa.edu/ucat/COS/BAGeo.html">Geology (BA)</option>
  <option value="http://utsa.edu/ucat/COS/BSGeo.html">Geology (BS)</option>
  <option value="http://utsa.edu/ucat/COS/BSMat.html">Mathematics (BS)</option>
  <option value="http://utsa.edu/ucat/COS/BSMultisc.html">Multidisciplinary Science (BS)</option>
  <option value="http://utsa.edu/ucat/COS/BAPhy.html">Physics (BA)</option>
  <option value="http://utsa.edu/ucat/COS/BSPhy.html">Physics (BS)</option>
</optgroup>

<optgroup label="Honors College">
  <option value="http://utsa.edu/ucat/Honors/BAHS.html">Honors Studies (BA)</option>
</optgroup>     
</select>
