<select name="jumpMenu" id="masters">
<option selected="selected" value="/academics/grad-degree-programs.html">Select a Master's Degree</option>
<optgroup label="College of Architecture">
<option value="http://utsa.edu/gcat/chapter6/COA/arcdept.html#mad">Architecture (M. Arch.)</option>
<option value="http://utsa.edu/gcat/chapter6/COA/arcdept.html#msarc">Architecture (M.S.)</option>
</optgroup>
<optgroup label="College of Business">
<option value="http://utsa.edu/gcat/chapter6/COB/accdept.html#msacc">Accounting (MACY)</option>
<option value="http://utsa.edu/gcat/chapter6/COB/mssdept.html#msas">Applied Statistics (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COB/findept.html#mscsm">Construction Science and Management (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COB/ecodept.html#maeco">Economics (M.A.)</option>
<option value="http://utsa.edu/gcat/chapter6/COB/findept.html#msfin">Finance (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COB/findept.html#msrefc">Finance (M.S.) with Real Estate Concentration</option>
<option value="http://utsa.edu/gcat/chapter6/COB/istmdept.html#msit">Information Technology (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COB/istmdept.html#msitiac">Information Technology (M.S.) - concentration in Infrastructure Assurance</option>
<option value="http://utsa.edu/gcat/chapter6/COB/cob.html#exmba">M.B.A. - Executive M.B.A.</option>
<option value="http://utsa.edu/gcat/chapter6/COB/accdept.html#mbaac">M.B.A. Accounting</option>
<option value="http://utsa.edu/gcat/chapter6/COB/cob.html#mba">M.B.A. Business Administration</option>
<option value="http://utsa.edu/gcat/chapter6/COB/ecodept.html#mbabec">M.B.A. Business Economics</option>
<option value="http://utsa.edu/gcat/chapter6/COB/cob.html#mbahealth">M.B.A. Business of Health</option>
<option value="http://utsa.edu/gcat/chapter6/COB/findept.html#mbafc">M.B.A. Finance</option>
<option value="http://utsa.edu/gcat/chapter6/COB/istmdept.html#mbaiac">M.B.A. Information Assurance</option>
<option value="http://utsa.edu/gcat/chapter6/COB/istmdept.html#mbaisc">M.B.A. Information Systems</option>
<option value="http://utsa.edu/gcat/chapter6/COB/cob.html#mbaib">M.B.A. International Business</option>
<option value="http://utsa.edu/gcat/chapter6/COB/istmdept.html#mbamtc">M.B.A. Management of Technology</option>
<option value="http://utsa.edu/gcat/chapter6/COB/mssdept.html#mbamsc">M.B.A. Management Science</option>
<option value="http://utsa.edu/gcat/chapter6/COB/mktdept.html#mbammc">M.B.A. Marketing Management</option>
<option value="http://utsa.edu/gcat/chapter6/COB/cob.html#mba">M.B.A. Noon Time</option>
<option value="http://utsa.edu/gcat/chapter6/COB/cob.html#mbaonline">M.B.A. Online</option>
<option value="http://utsa.edu/gcat/chapter6/COB/istmdept.html#mbapmc">M.B.A. Project Management</option>
<option value="http://utsa.edu/gcat/chapter6/COB/findept.html#mbarec">M.B.A. Real Estate Finance</option>
<option value="http://utsa.edu/gcat/chapter6/COB/mktdept.html#mbatddc">M.B.A. Tourism Destination Development</option>
<option value="http://utsa.edu/gcat/chapter6/COB/istmdept.html#msmot">Management of Technology (M.S. MOT)</option>
</optgroup>
<optgroup label="College of Education and Human Development">
<option value="http://utsa.edu/gcat/chapter6/COEHD/iltdept.html#maalt">Adult Learning and Teaching (M.A.)</option>
<option value="http://utsa.edu/gcat/chapter6/COEHD/bbldept.html#bbec">Bicultural-Bilingual Studies (M.A.)-Bicultural-Bilingual Education Concentration</option>
<option value="http://utsa.edu/gcat/chapter6/COEHD/bbldept.html#bsc">Bicultural-Bilingual Studies (M.A.)-Bicultural Studies Concentration</option>
<option value="http://utsa.edu/gcat/chapter6/COEHD/coudept.html#mac">Counseling (M.A.)</option>
<option value="http://utsa.edu/gcat/chapter6/COEHD/iltdept.html#maeci">Education (M.A.) Curriculum and Instruction</option>
<option value="http://utsa.edu/gcat/chapter6/COEHD/iltdept.html#maeece">Education (M.A.) Early Childhood and Elementary Education</option>
<option value="http://utsa.edu/gcat/chapter6/COEHD/iltdept.html#maeist">Education (M.A.) Instructional Technology</option>
<option value="http://utsa.edu/gcat/chapter6/COEHD/iltdept.html#maele">Education (M.A.) Reading and Literacy</option>
<option value="http://utsa.edu/gcat/chapter6/COEHD/iltdept.html#maespe">Education (M.A.) Special Education</option>
<option value="http://utsa.edu/gcat/chapter6/COEHD/elpsdept.html#meelps">Educational Leadership (M.Ed.) Educational Leadership and Policy Studies</option>
<option value="http://utsa.edu/gcat/chapter6/COEHD/elpsdept.html#gchea">Educational Leadership (M.Ed.) Higher Education Administration</option>
<option value="http://utsa.edu/gcat/chapter6/COEHD/hkdept.html#mshak">Health and Kinesiology (M.S.)</option>
<option value="http://www.graduateschool.utsa.edu/prospective_students/detail/school_psychology_ma/">School Psychology (M.A.)</option>
<option value="http://utsa.edu/gcat/chapter6/COEHD/bbldept.html#matesl">Teaching English as a Second language (M.A.)</option>
</optgroup>

<optgroup label="College of Engineering">
<option value="http://utsa.edu/gcat/chapter6/COE/medept.html#msamee">Advanced Manufacturing and Enterprise Engineering (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COE/bmedept.html#msbme">Biomedical Engineering (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COE/ceedept.html">Civil Engineering (M.C.E.)</option>
<option value="http://utsa.edu/gcat/chapter6/COE/ceedept.html#msce">Civil Engineering (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COE/ecedept.html#msce">Computer Engineering (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COE/ecedept.html#msee">Electrical Engineering (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COE/medept.html#msme">Mechanical Engineering (M.S.)</option>
</optgroup>
<optgroup label="College of Liberal and Fine Arts">
<option value="http://utsa.edu/gcat/chapter6/COLFA/antdept.html#maant">Anthropology (M.A.)</option>
<option value="http://utsa.edu/gcat/chapter6/COLFA/artdept.html#mfa">Art (M.F.A.)</option>
<option value="http://utsa.edu/gcat/chapter6/COLFA/artdept.html#maah">Art History (M.A.)</option>
<option value="http://utsa.edu/gcat/chapter6/COLFA/comdept.html#macom">Communication (M.A.)</option>
<option value="http://utsa.edu/gcat/chapter6/COLFA/engdept.html#maeng">English (M.A.)</option>
<option value="http://utsa.edu/gcat/chapter6/COLFA/hisdept.html#mahis">History (M.A.)</option>
<option value="http://utsa.edu/gcat/chapter6/COLFA/musdept.html#mmus">Music (M.M.)</option>
<option value="http://utsa.edu/gcat/chapter6/COLFA/poldept.html#mapols">Political Science (M.A.)</option>
<option value="http://utsa.edu/gcat/chapter6/COLFA/psydept.html#mspsy">Psychology (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COLFA/socdept.html#mssoc">Sociology (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COLFA/mlldept.html#masp">Spanish (M.A.)</option>
</optgroup>
<optgroup label="College of Public Policy">
<option value="http://utsa.edu/gcat/chapter6/COPP/crjdept.html#msjp">Justice Policy (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COPP/padept.html#mpa">Public Administration (M.P.A.)</option>
<option value="http://utsa.edu/gcat/chapter6/COPP/swdept.html#msw">Social Work (M.S.W.)</option>
<option value="http://utsa.edu/architecture/graduate_studies/MSURP-06-30-10.pdf">Urban and Regional Planning (M.S.)</option>

</optgroup>
<optgroup label="College of Sciences">
<option value="http://utsa.edu/gcat/chapter6/COS/matdept.html#msamim">Applied Mathematics - Industrial Mathematics (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COS/biodept.html#msb">Biology (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COS/biodept.html#msbt">Biotechnology (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COS/chedept.html#msc">Chemistry (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COS/csdept.html#mscs">Computer Science (M.S.)</option>
<option value="http://www.utsa.edu/gcat/chapter6/COS/esdept.html">Environmental Science (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COS/gsdept.html#msg#">Geology (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COS/matdept.html#msm">Mathematics (M.S.)</option>
<option value="http://utsa.edu/gcat/chapter6/COS/phydept.html#msp">Physics (M.S.)</option>
</optgroup>
</select>
