<select name="jumpMenu" id="minors">
<option selected="selected" value="/academics/ugrad-degree-programs.html">Select a Minor</option>
<optgroup label="College of Business">
    <option value="http://utsa.edu/ucat/COB/minoractsci.html">Actuarial Science</option>
    <option value="http://utsa.edu/ucat/COB/minoradmb.html">Adaptive Decision Models for Business</option>
    <option value="http://utsa.edu/ucat/COB/minoras.html">Applied Statistics</option>
    <option value="http://utsa.edu/ucat/COB/minorba.html">Business Administration</option>
    <option value="http://utsa.edu/ucat/COB/minoreco.html">Economics</option>
    <option value="http://utsa.edu/ucat/COB/minorec.html">Electronic Commerce</option>
    <option value="http://utsa.edu/ucat/COB/minorFIN.html">Finance</option>
    <option value="http://utsa.edu/ucat/COB/minoris.html">Information Systems</option>
    <option value="http://utsa.edu/ucat/COB/minorias.html">Infrastructure Assurance and Security</option>
    <option value="http://utsa.edu/ucat/COB/MinorIntMgt.html">International Management</option>
    <option value="http://utsa.edu/ucat/COB/MinorMgt.html">Management</option>
    <option value="http://utsa.edu/ucat/COB/minormgtsc.html">Management Science</option>
    <option value="http://utsa.edu/ucat/COB/minorMkt.html">Marketing</option>
    <option value="http://utsa.edu/ucat/COB/minortm.html">Technology Management</option>
</optgroup>

<optgroup label="College of Education and Human Development">
    <option value="http://utsa.edu/ucat/COEHD/minoraas.html">African American Studies</option>
    <option value="http://utsa.edu/ucat/COEHD/minorbs.html">Bicultural Studies</option>
    <option value="http://utsa.edu/ucat/COEHD/minorhth.html">Health</option>
    <option value="http://utsa.edu/ucat/COEHD/minoresl.html">English as a Second Language</option>
</optgroup>

<optgroup label="College of Liberal and Fine Arts">
    <option value="http://utsa.edu/ucat/COLFA/MinorAis.html">American Indian Studies</option>
    <option value="http://utsa.edu/ucat/COLFA/Minoras.html">American Studies</option>
    <option value="http://utsa.edu/ucat/COLFA/MinorAnt.html">Anthropology</option>
    <option value="http://utsa.edu/ucat/COLFA/MinorArtHis.html">Art History and Criticism</option>
    <option value="http://utsa.edu/ucat/COLFA/MinorClaSt.html">Classical Studies</option>
    <option value="http://utsa.edu/ucat/COLFA/MinorComm.html">Communication</option>
    <option value="http://utsa.edu/ucat/COLFA/minorcomlit.html">Comparative Literature</option>
    <option value="http://utsa.edu/ucat/colfa/minoreng.html">English Literature</option>
    <option value="http://utsa.edu/ucat/COLFA/minorfs.html">Film Studies</option>
    <option value="http://utsa.edu/ucat/COLFA/minorfl.html">Foreign Languages</option>
    <option value="http://utsa.edu/ucat/COLFA/minorfrn.html">French</option>
    <option value="http://utsa.edu/ucat/COLFA/MinorGrg.html">Geography</option> 
    <option value="http://utsa.edu/ucat/COLFA/minorger.html">German</option>
    <option value="http://utsa.edu/ucat/COLFA/MinorGA.html">Global Analysis</option>
    <option value="http://utsa.edu/ucat/COLFA/MinorHis.html">History</option>
    <option value="http://utsa.edu/ucat/COLFA/MinorHum.html">Humanities</option>
    <option value="http://utsa.edu/ucat/COLFA/MinorIntst.html">International Studies</option>
    <option value="http://utsa.edu/ucat/COLFA/MinorLas.html">Latin American Studies</option>
    <option value="http://utsa.edu/ucat/COLFA/minorling.html">Linguistics</option>
    <option value="http://utsa.edu/ucat/COLFA/MinorMus.html">Music</option>
    <option value="http://utsa.edu/ucat/COLFA/MinorPhi.html">Philosophy</option> 
    <option value="http://utsa.edu/ucat/COLFA/MinorPol.html">Political Science</option>
    <option value="http://utsa.edu/ucat/COLFA/MinorPsy.html">Psychology</option>
    <option value="http://utsa.edu/ucat/COLFA/MinorPa.html">Public Administration</option>
    <option value="http://utsa.edu/ucat/COLFA/minorRS.html">Religious Studies</option>
    <option value="http://utsa.edu/ucat/COLFA/minorrus.html">Russian</option> 
    <option value="http://utsa.edu/ucat/Colfa/minorsoc.html">Sociology</option>
    <option value="http://utsa.edu/ucat/COLFA/minorspn.html">Spanish</option> 
    <option value="http://utsa.edu/ucat/COLFA/MinorWS.html">Women’s Studies</option>
</optgroup>

<optgroup label="College of Public Policy">
    <option value="http://utsa.edu/ucat/COPP/minorcrj.html">Criminal Justice</option>
    <option value="http://utsa.edu/ucat/COPP/minorPA.html">Nonprofit Management</option>
</optgroup>

<optgroup label="College of Sciences">
    <option value="http://utsa.edu/ucat/COS/minorBio.html">Biology</option>
    <option value="http://utsa.edu/ucat/COS/minorChem.html">Chemistry</option>
    <option value="http://utsa.edu/ucat/COS/minorCS.html">Computer Science</option>
    <option value="http://utsa.edu/ucat/COS/minorGeo.html">Geology</option>
    <option value="http://utsa.edu/ucat/COS/minorMat.html">Mathematics</option>
    <option value="http://utsa.edu/ucat/COS/minorphy.html">Physics</option>
</optgroup>

<optgroup label="Honors College">
	<option value="http://utsa.edu/ucat/Honors/minorLGS.html">Legal Studies</option>
</optgroup>

<optgroup label="ROTC">
    <option value="http://utsa.edu/ucat/UGS/minorAS.html">Aerospace Studies</option>
    <option value="http://utsa.edu/ucat/UGS/minorMML.html">Military Management and Leadership</option>
</optgroup>
</select>
