<select name="jumpMenu" id="research">
<option selected="selected" value="#">Centers, Institutes and Outreach Programs</option>
<option  value="/capri/Welcome.html">Bank of America Child and Adolescent Policy Research Institute</option>
<option value="http://camls.utsa.edu/">Center for Advanced Manufacturing and Lean Systems</option>
<option value="http://car.utsa.edu/index.html">Center for Archaeological Research</option>
<!--<option value="http://comal.it.utsa.edu/profilesystem/editprofile.php?pid=1014&amp;onlyview=1">Center for High Performance Computing and Software (HPCS)</option>-->
<option value="http://copp.utsa.edu/center-for-policy-studies/home/">Center for Policy Studies</option>

<option value="/crts/">Center for Research and Training in the Sciences</option>
<option value="/water/">Center for Water Research</option>
<option value="/eai">East Asia Institute</option>
<option value="http://ics.utsa.edu/">Institute for Cyber Security (ICS and ICS-CIAS)</option>
<option value="http://idser.utsa.edu/">Institute for Demographic and Socioeconomic Research</option>
<option value="http://iedtexas.org/">Institute for Economic Development</option>
<option value="http://texancultures.com/">Institute of Texan Cultures</option>
<option value="/mexicocenter">Mexico Center</option>
<option value="http://bio.utsa.edu/labpages/McCarrey/primatology.htm">San Antonio Institute for Cellular and Molecular Primatology</option>
<!--<option value="http://www.utsalsi.org/">San Antonio Life Sciences Institute (SALSI)</option>-->
<option value="http://www.stceid.utsa.edu/">South Texas Center for Emerging Infectious Diseases</option>
<option value="http://texasenergy.utsa.edu/">Texas Sustainable Energy Research Institute</option>
<option value="http://neuroscience.utsa.edu/Home.html">UTSA Neurosciences Institute</option>
</select>
