<div id="feature">
  <div class="container">
    <div class="feature-container">
      <div class="feature-nav">
        <div id="home-feat-nav">
          <!-- navigation populates here via javascript -->
        </div>
      </div>
      
      <div class="feature-image feature-content">
        
        <div class="feature-item">
          <div class="fimage"> <img src="/img/home/feature/classroom-prof.jpg" alt="Tier One UTSA" width="950" height="350" />
            <div class="feature-caption">
              <h1>Toward Tier One</h1>
              <h2>UTSA is the second-largest component in the UT System and has been one of the state's fastest-growing public 
              universities for much of the last decade. UTSA is rapidly moving toward classification as a <a href="/tierone">research-intensive institution</a>.</h2>
            </div>
          </div>
        </div>
        
        <div class="feature-item">
          <div class="fimage"> <img src="/img/home/feature/basketball-player.jpg" alt="Support UTSA Athletics" width="950" height="350" />
            <div class="feature-caption">
              <h1>Support UTSA Athletics</h1>
              <h2>UTSA's goal is to develop champions in the classroom and on the field.  Donations to the <a href="http://stepuputsa.com">Roadrunner Athletic Fund</a> directly support student-athletes and sports programs.</h2>
            </div>
          </div>
        </div>
        
        <div class="feature-item">
          <div class="fimage"> <img src="/img/home/feature/roadrunner-days.jpg" alt="Roadrunner Days" width="950" height="350" />
            <div class="feature-caption">
              <h1>Roadrunner Days</h1>
              <h2>Jumpstart your college career with <a href="/roadrunnerdays">Roadrunner Days</a>! Take part in 
              events and activities to welcoming students a start to the new year.</h2>
            </div>
          </div>
        </div>
        
        <!--
        <div class="feature-item">
          <div class="fimage"> <img src="/img/home/feature/academics-music.jpg" alt="Music Student" width="950" height="350" />
            <div class="feature-caption">
              <h1>UTSA Academics</h1>
              <h2>UTSA provides a wide variety of quality programs and services designed to support student success and enrich learning and living 
              experiences. UTSA is committed to helping students reach their educational, personal and professional aspirations.</h2>
            </div>
          </div>
        </div>
        
        <div class="feature-item">
          <div class="fimage"> <img src="/img/home/feature/students-rowdyhand.jpg" alt="Visit UTSA" width="950" height="350" />
            <div class="feature-caption">
              <h1>Come for a Visit</h1>
              <h2>The best way to learn about UTSA is to visit our vibrant campuses. Both the Main Campus and the Downtown Campus have visitor centers and tours that allow you to get a glimpse of what makes UTSA special.</h2>
            </div>
          </div>
        </div>
        
        
<!--    <div class="feature-item">
          <div class="fimage"> <img src="/img/home/feature/football-helmet.jpg" alt="UTSA Football" width="950" height="350" />
            <div class="feature-caption">
              <h1>Football Tickets</h1>
              <h2>Something something something. <a href="#">Purchase your season football tickets</a> today.</h2>
            </div>
          </div>
        </div> -->
     
      </div>
      
    </div><!-- end feature-image / feature-content -->
  </div><!-- end feature-container -->
</div><!-- end feature -->
